@model RoadmapModel

<div id="items-grid">      
    <div id="page-options-box" class="right">
        <div class="box-right size-0">
            <div>
                <div class="option vertical-align pos-relative">
                    <div id="grid-export-excel" class="control-icon export" title="@GetResource(ResourceKeys.Reports)"></div>

                </div>
                <div class="option vertical-align">
                    <div id="grid-column-picker" class="control-icon gear" title=" @GetResource(ResourceKeys.Columns)"></div>
                </div>

            </div>
        </div>
    </div>
    <div class="clear-both"></div>
    <div id="progress-items-table">
    @Html.DisplayFor(m => m, "IssueDto")
    </div>
</div>
@{
    var card = (GeminiContext.Card.Id > 0) ? string.Format("?card={0}",GeminiContext.Card.Id) : "";
}
<div class="export-to-container">
    <ul>
        <li><a target="_blank" href="@string.Format("prepareexport/{0}/xlsx{1}",@Model.VersionId,@card)">Excel</a>&nbsp;<a target="_blank" href="@string.Format("prepareexport/{0}/xls{1}",@Model.VersionId,@card)">(XLS)</a></li>
        <li><a target="_blank" href="@string.Format("prepareexport/{0}/csv{1}",@Model.VersionId,@card)">CSV</a></li>
        <li><a target="_blank" href="@string.Format("prepareexport/{0}/html{1}",@Model.VersionId,@card)">Html</a></li>                 
    </ul>
</div>