@model BaseModel

<ul class="cards">
    @foreach (NavigationCard card in Model.SavedCards)
    {
        string prefix = string.Empty;
        if(card.Locked || card.CardData.Lock && card.CardData.IsShared)
        {
            prefix = string.Concat('[', GetResource(ResourceKeys.TeamWorkspace), "] ");
        }
        @:<li id="card-@card.Id" data-card-id="@card.Id" class="card @ViewHelpers.CardSystem(card)" data-counter="@card.BadgeCount" data-chat-count="@card.CardData.Chat.BadgeCount" title="@(prefix)@(card.Title)">
        if (card.Locked || card.CardData.Lock && card.CardData.IsShared)
        {
            <div class="team-workspace" style="border-right-color:@card.Color"></div>
        }
        if (card.CardType == ProjectTemplatePageType.Custom && card.UserId == null || card.CardType == ProjectTemplatePageType.Marketing && GeminiContext.User.IsGlobalAdmin)
        {
                @:<a href="@card.Url"  @(card.NewWindow ? "target=_blank" : string.Empty ) >
            }
        else
        {
                @:<a href="@(GeminiContext.Url)workspace/@(card.Id)/@card.Url">
            }
                    <div class="card-box">
                        <span class="img-container @ViewHelpers.CardLetters(card)" style="background-color:@(card.Color) !important;" data-color="@(card.Color)">
                            @if (card.LastSeen == null)
                            {
                                @:<span class="not-seen">!!</span>
                            }
                            @if (card.CardData.ShowBadgeCounts && card.TotalBadgeCount > 0)
                            {
                                @:<span id="badge-@card.Id" class="badge" data-badge-id="@card.Id" data-counter="@card.TotalBadgeCount">@card.BadgeCountLabel</span>
                            }
                            <span class="key">@(card.Key)</span>
                        </span>
                    </div>
                @:</a>      
        @:</li>
    }
</ul>
