@model BaseModel

@{
    int loop = 0;
    int menuItems = Model.ProjectMenu.Count;
}
<div id="plus-header" class="plus-header right">
    @if (IsAuthenticated)   {<div class="fonticon-plus"  title="@GetResource(ResourceKeys.Add)"><!-- put your suff for the plus in here --></div>}
</div>

<div id="content-header" class="content-header">
    
    @if (Model.DisplayPageActions)
    {
        <!-- Common Page Actions: Pin and Share -->
        @*if (Model.PdfLink.HasValue())
         {
             @:<div id="pdf-action" class="fonticon-pdf right" data-pdf="@Model.PdfLink" title="PDF"></div>
             @:<div class="divider right"></div>
         }*@

        if (IsAuthenticated && Model.CanPinPage)
        {
            @:<div id="share-page" class="fonticon-share right" title="@GetResource(ResourceKeys.Share)"></div>
            @:<div class="divider right"></div>

            
            if (Model.CardAlreadyPinned)
            {
                @:<div id="pin-page" class="fonticon-pin right selected" title="@GetResource(ResourceKeys.Pin)"></div>
            }
            else
            {
                @:<div id="pin-page" class="fonticon-pin right" title="@GetResource(ResourceKeys.Pin)"></div>
            }

        @:<div id="save-pin" class="fonticon-tick right hide" title="@GetResource(ResourceKeys.Save)"></div>
        @:<div id="repin-pin" class="fonticon-documents right hide" title="@GetResource(ResourceKeys.Copy)"></div>
                        @*:<div class="divider right"></div>*@
        }
    }

    <!-- (Content) Header Text Breadcrumb -->
    <div id="content-header-navigation-text" class='clipped-hide'>
        @foreach (var item in Model.HeaderText)
        {
            if (string.IsNullOrEmpty(@item.Url))
            {
                <h2 title='@item.Text'>@item.Text</h2>
            }
            else
            {
                <h2><a href="@item.Url">@item.Text</a></h2>
            }
            if (item == Model.HeaderText[0] && item.Text.Length > 0)
            {
                <!-- (Content) Project Menu  -->
                if (Model.ProjectMenu.Count > 0) 
                {
                    <span id="project-menu-dropdown" class="fonticon-arrow-down dropdown">
                        <ul class="cs-menu-dropdown">
                        
                            @foreach (var item2 in Model.ProjectMenu)
                            {
                                loop++;

                                if (item2.IsDivider && loop < menuItems)
                                {
                                    <li class="separator"></li>
                                }
                            
                                if (!item2.IsDivider)
                                {
                                    <li><a href="@item2.Url">@item2.Label</a></li> 
                                }
                            }

                            @if (GeminiContext.PermissionsManager.IsInRole(GeminiContext.Project.Entity, Countersoft.Gemini.Commons.Permissions.Roles.CanManageComponents) ||
                                 GeminiContext.PermissionsManager.IsInRole(GeminiContext.Project.Entity, Countersoft.Gemini.Commons.Permissions.Roles.CanManageVersions) ||
                                 GeminiContext.PermissionsManager.IsInRole(GeminiContext.Project.Entity, Countersoft.Gemini.Commons.Permissions.Roles.CanSetProjectDefaultValues))
                            {
                                <li class="separator"></li>
                                <li class="highlight"><a href="~/project/@GeminiContext.Project.Entity.Id/settings">@GetResource(ResourceKeys.Settings)</a></li> 
                            }
                        </ul>                    
                    </span>
                }
            }
            if (item != Model.HeaderText[Model.HeaderText.Count - 1] && item.Text.Length > 0)
            {
                <div class="divider"></div>
            }
        }
    </div>

    <div id='share-dialog'></div>
    <div id='subscribe-dialog'></div>
</div>

<div class="clear"></div>