@model BaseModel

<div id="playlistbox">
    <span id="all-projects-menu-box" class="card shadow dropdown" href="~/projects">
        <ul class="cs-menu-dropdown">
            @if (Model.HasMoreProjects)
            {
                <li class="highlight"><a href="~/projects">@GetResource(ResourceKeys.AllProjects) &nbsp;»</a></li>
                <li class="separator"></li>
            }
            @foreach (var project in Model.Projects)
            {
                <li>
                    <a href="@project.HomePageUrl" style="white-space: nowrap;">
                        <div class="menu-project-code" style="display:inline-block;">@project.Entity.Code</div>
                        <span>@project.Entity.Name</span>
                    </a>
                </li> 
            } 
        </ul>          
        <div class="content content-all-projects">
            <div class="textaraea">
                <div class="text">
                    <div class="fonticon-clipboard2"><img src="@AssetsPath/images/design/default/start.png"/></div>
                </div>
            </div>
        </div>
    </span>

    <div id="playlist">
        <div id="card-holder">
            @{ Html.RenderPartial("MyCards"); }
        </div>
        <div id="playlist-more">
            <span class="fonticon-arrow-down"></span>
        </div>
    </div>
    <div id='card-data'></div>

    <ul id="card-context-menu" class="cs-menu-context">
        <li>
            <a href="#rename">@GetResource(ResourceKeys.Rename)</a>
        </li>
        <li class="separator"></li>
        <li>
            <a href="#share">@GetResource(ResourceKeys.Share)</a>
        </li>
        <li>
            <a href="#subscribe">@GetResource(ResourceKeys.Subscribe)</a>
        </li>
        <li class="separator"></li>
        <li>
            <a href="#remove">@GetResource(ResourceKeys.Remove)</a>
        </li>
    </ul>
</div>
