@{
    var settings = GeminiContext.User.GetSettings();
}
<div id="top-right-box" class="noprint">
    
    <div id="user-box" class="clearfix">

        @if (GeminiContext.User.IsGlobalAdmin)
        {
            <a class="user-link" href="~/configure">@GetResource(ResourceKeys.Customize)</a>
            <div class="break">·</div>
        }                
        
        @if (!IsAuthenticated)
        {
            <a class="user-link" href="~/account/login">@GetResource(ResourceKeys.Login)</a>
        }
        else
        {   
            <a class="user-link" id="help-link" href="~/help"><span class='@if(settings.LastUpdateDate < Model.LasUpdateDate){<text>bold</text>}'>@Html.Raw(GeminiContext.User.IsGlobalAdmin ? "Updates" :  "Resource Center")</span></a>
            <div class="break">·</div>
            <span class="user-link"><a href="~/account/profile" class="user-link">@GeminiContext.User.Entity.Firstname.ToMaxMore(10)</a></span><span id="user-menu" class="fonticon-arrow-down dropdown">
                <ul class="cs-menu-dropdown">
                    <li><a href="~/project/all/@Constants.AllProjectsId/items/assigned">@GetResource(ResourceKeys.Assigned)</a></li>
                    <li><a href="~/project/all/@Constants.AllProjectsId/items/following">@GetResource(ResourceKeys.Following)</a></li>
                    <li><a href="~/project/all/@Constants.AllProjectsId/report?Reports=53">@GetResource(ResourceKeys.Time)</a></li>
                    <li class="separator"></li>
                    <li><a id="reset-help" href="#">Tour Tips</a></li>
                    <li class="separator"></li>
                    @if(!GeminiContext.Config.IsWindowsAuthentication){ <li class="highlight"><a href="~/account/logout">@GetResource(ResourceKeys.Logout)</a></li> }
                </ul>
            </span>
        }        
        
    </div>

    <div id="search-box" class=" clearfix">
        <form id="search-form" action="~/project/all/0/items" method="GET" autocomplete="off">
            <input id="search" name="search" type="text" placeholder="@GetResource(ResourceKeys.Search)" />
        </form>
    </div>
    
    <div id="user-actions-history-box">
        @if (settings.Actions.Count > 0 && GeminiContext.IsAuthenticated)
        {
            <div id="user-actions-history-box-latest">»&nbsp;<a href="~/@settings.Actions[0].Url">@settings.Actions[0].Label.ToMaxMore(20)</a></div>
        }
    </div>

</div>
