@model BaseModel

<div id="zone-side-bar">
    
    <div id="action-overlay">
        @if (Model.DisplayPageActions)
        {
            if (IsAuthenticated && Model.CanPinPage)
            {
                if (Model.CardAlreadyPinned)
                {
                    @:<div id="pin-page" data-card-id="@Model.CurrentPageCard.Id" class="fonticon-pin pinned" title="@GetResource(ResourceKeys.Pin)"></div>
                }
                else
                {
                    @:<div id="pin-page" data-card-id="0" class="fonticon-pin " title="@GetResource(ResourceKeys.Pin)"></div>
                }

                <div id="pinned-actions">
                    <div id="save-pin" class="fonticon-tick hide" title="@GetResource(ResourceKeys.Save)"></div>
                    <div id="repin-pin" class="fonticon-documents hide" title="@GetResource(ResourceKeys.Copy)"></div>
                </div>
            }
        }
   </div>

    <div id="card-holder-container">
        <div id="card-holder">
            @{ Html.RenderPartial("AppNavCards"); }
        </div>
    </div>
    
    <div id="card-scroller">
        <span id="card-scroller-down" class="fonticon-arrow-down"></span>
        <span id="card-scroller-up" class="fonticon-arrow-up"></span>
    </div>

</div>
