@model UserModel
@{
Layout = "~/Views/Shared/_Master.Desktop.External.cshtml";
ViewBag.Title = "Gemini " + @GetResource(ResourceKeys.NewPassword);
}

<div id="login-page" class="clearfix">
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            @if(DeviceContext.IsDesktop)
            {
            <td class="left-box">
            
                <table id="welcome-message-zone">
                    <tr><td><div class="gemini-login"><img src="~/assets/images/logo.png"/></div><div class="divider-login"></div></td></tr>                    
                    <tr><td><h1 id="welcome-title">Change your password</h1></td></tr>
                    <tr><td><div id="cs-template"><div id="welcome-message" class="cs-wysiwyg">                        
                        @if (Model.Message.HasValue())
                        {
                            <p>Password must match the following policy.</p>
                            <ul>
                                 @Html.Raw(Model.Message)
                            </ul>
                        }
                     </div></div></td></tr>
                </table>   
          
            </td>
            }
            <td class="right-box">
          
                    <table>
                    @if(!DeviceContext.IsDesktop)
                    {
                        <tr><td><div class="gemini-login"><img src="~/assets/images/logo.png"/></div><div class="divider-login"></div></td></tr>   
                    }
               
                    <tr>
                        <td>
                            <table> 
                                <tr>        
                                    <td valign="top">    
                                        <table class="signin-form">
                                            <tr>
                                                <td class="regular">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <form action="password" method="post" id="regular-form" autocomplete="off" enctype="multipart/form-data">
                                                                    <input type="hidden" id="Id" name="Id" value="@Model.User.Id" />
                                                                    <input type="hidden" name="returnUrl" id="returnUrl" value="@Model.ReturnUrl" />            
                                                                   
                                                                    <table id="regular-credentials" class="data-entry-box margin-zero-auto" cellpadding="5px" cellspacing="5px"> 
                                                                        <tr>
                                                                            <td> <h3>@GetResource( ResourceKeys.NewPassword )</h3></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <input type="password" id="the-password" name="the-password" class="input-size6 required" 
                                                                                        data-pwd-enforce="@GeminiApp.Config.EnforcePasswordPolicy.ToJSBool()" data-pwd-length="@GeminiApp.Config.MinimumLetters" 
                                                                                        data-pwd-upper="@GeminiApp.Config.UppercaseRequired.ToJSBool()" data-pwd-lower="@GeminiApp.Config.LowercaseRequired.ToJSBool()" 
                                                                                        data-pwd-symbol="@GeminiApp.Config.SymbolRequired.ToJSBool()" data-pwd-number="@GeminiApp.Config.NumberRequired.ToJSBool()"/>
                                                                                <div class="password-meter">
                                                                                    <div class="password-meter-bg">
                                                                                        <div class="password-meter-bar"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr id="password-rules-the-password" style="display:none">
                                                                            <td>
                                                                                @Html.Raw( Model.PasswordRules )
                                                                            </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td> <h3>@GetResource( ResourceKeys.ConfirmNewPassword )</h3></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><input type="password" id="confirm-password" name="confirm-password" class="input-size6 required" /> </td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td colspan="2" align="right">
                                                                                <input id="regular-signin" type="submit" value='@GetResource(ResourceKeys.Save)' class='button-primary' />
                                                                            </td>
                                                                        </tr>

                                                                    </table>
                                                                     @if (Model.ErrorMessage != string.Empty)
                                                                    {
                                                                        <div style="color:red;max-width:250px;font-size:12px;padding-left:12px;">@Html.Raw(Model.ErrorMessage)</div>
                                                                    }
                                                                </form>                                                          

                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                    
                                    </td>
                                </tr>                                
                            </table>                
                        </td>
                    </tr>

                </table>                
            
            </td>
        </tr>
    </table>
</div>

@section DocumentReady
{
    $("#regular-form").validate({});
    gemini_account.initForceNewPassword();
}
