@model UserModel
@{
    Layout = "~/Views/Shared/_Master.Desktop.External.cshtml";
    ViewBag.Title = "Gemini " + @GetResource(ResourceKeys.Login);
}

<div id="login-page" class="clearfix">
    <table border="0" cellspacing="0" cellpadding="0">
        <tr>
            @if(DeviceContext.IsDesktop)
            {
            <td class="left-box">
            
                <table id="welcome-message-zone">
                    <tr><td><h1 id="welcome-title">@GeminiContext.Config.WelcomeTitle</h1></td></tr>
                    <tr><td><div id="cs-template"><div id="welcome-message" class="cs-wysiwyg">@Html.Raw(GeminiContext.Config.WelcomeMessage)</div></div></td></tr>
                </table>   
          
            </td>
            }
            <td class="right-box">
          
                    <table>
                    @if(!DeviceContext.IsDesktop)
                    {
                        <tr><td><div class="gemini-login"><img src="~/assets/images/logo.png"/></div><div class="divider-login"></div></td></tr>   
                    }
                    <tr>
                        <td>
                                    @if (GeminiContext.Config.EnableOpenId || GeminiContext.Config.EnableGoogleIntegration || GeminiContext.Config.EnableFacebookIntegration
                                        || GeminiContext.Config.EnableAuth0Integration )
                                    {
                                        <table class="signin-form" style="width:330px;margin-top:30px;">
                                            <tr>
                                                <td align="center" class="regular no-wrap">
                                                    <h3  style="margin-bottom:11px;text-align:left;margin-left:6px;">Log in with</h3>
                                                    <form action="openid?ReturnUrl=" method="post" id="openid-form" autocomplete="off">
                                                        <div id='openid-login-box' style="margin: 0 auto;">
                                                            <input type="hidden" name="action" value="verify" />
                                                            <input type="hidden" name="returnUrl" id="returnUrl0" value="@Model.ReturnUrl" />
                                                            <table>
                                                                <tr>
                                                                 @if (GeminiContext.Config.EnableGoogleIntegration)
                                                                 { 
                                                                    <td><a id="openid-provider-google" class="google openid-provider-button" title="Google" onclick="gemini_account.openIdUrl('google')" ></a></td>
                                                                 }
                                                                 
                                                                    <td>
                                                                        @if (GeminiContext.Config.EnableOpenId)
                                                                        {
                                                                            <a id="openid-provider-yahoo" class="yahoo openid-provider-button" title="Yahoo!" onclick="gemini_account.openIdUrl('yahoo')"></a>
                                                                        }

                                                                        @if (GeminiContext.Config.EnableFacebookIntegration)
                                                                        {
                                                                            <a id="openid-provider-facebook" class="facebook openid-provider-button" title="Facebook"
                                                                               href='https://www.facebook.com/dialog/oauth?client_id=@(GeminiContext.Config.FacebookAppId)&redirect_uri=@Countersoft.Foundation.Utility.Helpers.HttpHelper.GetWebsiteUrl()account/loginwait&scope=email&response_type=token'></a>
                                                                        }
                                                                        
                                                                        @if (GeminiContext.Config.EnableAuth0Integration)
                                                                        {
                                                                            <a id="openid-provider-auth0" class="auth0 openid-provider-button" title="Auth0" onclick="webAuth.authorize();"></a>
                                                                        }    
                                                                    </td>
                                                                
                                                                </tr>
                                                               
                                                            </table>                    
                                                        </div>
        
                                                        <br class="clear-both" />
                                                        <input type="hidden" name="site" id="site"/>
                                                        <div id="openid-inputs" class="hide">
                                                            <input id="openid-provider" name="openid-provider" class='input-field required input-size5 hide' type="text" value="<Your Account>.myopenid.com" />
                                                            <input id="openid-signin" type="submit" value="@GetResource(ResourceKeys.Login)" class='button-primary button-small' />
                                                            @{Html.RenderPartial("Spinner");}
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        </table>
                                    }
                        </td>
                    </tr>
                    

                    <tr>
                        <td>
                            <table> 
                                <tr>        
                                    <td valign="top">    
                                        <table class="signin-form">
                                            <tr>
                                                <td class="regular">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <form action="~/account/login" method="post" id="regular-form">
                                                                    <h3 style="margin-bottom:7px;">@GetResource(ResourceKeys.Username) & @GetResource(ResourceKeys.Password)</h3>
                                                                    <input type="hidden" name="returnUrl" id="returnUrl" value="@Model.ReturnUrl" />
                                                                    <table id="regular-credentials" cellpadding="5px" cellspacing="5px">
                                                                        <tr>
                                                                            <!--<td>@GetResource(ResourceKeys.Username, Resourcing.Colon)</td>-->
                                                                            <td><input type="text" id="Username" name="Username" class="input-field required input-size7" value="@Model.User.Username" /> </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <!--<td>@GetResource(ResourceKeys.Password, Resourcing.Colon)</td>-->
                                                                            <td><input type="password" id="regular-password" name="regular-password" class="input-field required input-size7" /> </td>
                                                                        </tr>

                                                                        <tr>
                                                                           <td style="float: left;">
                                                                                <input type="checkbox" class="fancy" name="rememberMe" id="RememberMe" />
                                                                               <label for="RememberMe">Remember Me</label>
                                                                            </td>  
                                                                            
                                                                            <td style="float: right;">
                                                                                <input id="regular-signin" type="submit" value='@GetResource(ResourceKeys.Login)' class='button-primary button-small'/>
                                                                            </td>
                                                                        </tr>

                                                                         @if(GeminiContext.Config.ShowUserRegistrationLink)
                                                                        {
                                                                        <tr>                                                                            
                                                                            <td style="float: left;">
                                                                                <a style="line-height: 26px;" href="~/account/register">Register<a/>
                                                                            </td>                                                                            
                                                                        </tr>
                                                                        }
                                                                        <tr>                                                                   
                                                                            <td><div class="invalid-credentials">@Html.Raw(Model.ErrorMessage)</div></td>
                                                                        </tr>
                            
                                                                    </table>
                                                                </form>

                                                                <h3 style="margin-bottom:15px;">Reset your password</h3>
                                                                <div class='help-login'>
                                                                    <div class="margin-top-10">
                                                                        <form action="password/reminder" method="post" id="forgot-password-form" style="margin-left: 11px;">
                                                                            <input type="text" id="email" name="email" style="width: 175px" placeholder="Email" class="input-field required email" />&nbsp;&nbsp;<input id="forgot-password" name='forgot-password' style="float: right; margin-right: 10px;" type="submit" value='@GetResource(ResourceKeys.Reset)' class='button-secondary button-small' />
                                                                        </form>
                                                                    </div>
                                                                </div>

                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>                                
                            </table>                
                        </td>
                    </tr>

                </table>                
            
            </td>
        </tr>
    </table>
</div>

@section DocumentReady
{
    gemini_account.initLogin();
    gemini_session.clearSessionTimeOut();
}

@if(GeminiContext.Config.EnableAuth0Integration)
{
<script src="https://cdn.auth0.com/js/auth0/8.7/auth0.min.js"></script>
<script type="text/javascript">
    var webAuth = new auth0.WebAuth({

        domain: '@GeminiContext.Config.Auth0Domain',

        clientID: '@GeminiContext.Config.Auth0ClientId',

        redirectUri: '@GeminiContext.Config.Url' + 'account/auth0Login',
        //audience: 'https://' + @GeminiContext.Config.Auth0Domain' + '/userinfo',
        responseType: 'code',
        scope: 'openid profile email'
    });

    function signin() {
        webAuth.authorize();
    }
</script>
}