@model UserModel

@{
    Layout = "~/Views/Shared/_Master.Desktop.External.cshtml";
    ViewBag.Title = @GetResource(ResourceKeys.Register);
}


@section HeaderContent
{
}

<div id='content' style="margin: 0 auto; width: 50%; margin-top: 50px;">
<div>
            
    <table class="signin-form">
        <tr>
            <td><h1 style="margin: 0 0 20px 0;">@GetResource(ResourceKeys.Register)</h1></td>
        </tr>
        <tr>
            <td class='regular'>
                <table>
                    <tr>
                        <td>
                            <form action="register" method="post" id="regular-form" autocomplete="off">
                                <table id="regular-credentials" cellpadding="10px" cellspacing="10px">
                                    @if(!string.IsNullOrEmpty(Model.ErrorMessage))
                                    {
                                        <tr class="error">
                                            <td colspan="2" style="color:maroon">@Model.ErrorMessage</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>@GetResource(ResourceKeys.Email, Resourcing.Colon)</td>
                                        <td><input type="text" id="Email" name="Email" class="input-size6 required email" value="@Model.User.Email" /> </td>
                                    </tr>
                                    <tr>
                                        <td>@GetResource(ResourceKeys.Password, Resourcing.Colon)</td>
                                        <td><input type="password" id="regular-password" name="regular-password" class="input-size6 required" /> 
                                            <div class="password-meter">
                                                <div class="password-meter-bg">
                                                    <div class="password-meter-bar"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>@GetResource(ResourceKeys.ConfirmPassword, Resourcing.Colon)</td>
                                        <td><input type="password" id="confirmpassword" name="confirmpassword" class="input-size6 required" /> </td>
                                    </tr>
                                    <tr>
                                        <td>@GetResource(ResourceKeys.Firstname, Resourcing.Colon)</td>
                                        <td><input type="text" id="Firstname" name="Firstname" class="input-size6 required" value="@Model.User.Firstname"/> </td>
                                    </tr>
                                    <tr>
                                        <td>@GetResource(ResourceKeys.Surname, Resourcing.Colon)</td>
                                        <td><input type="text" id="Surname" name="Surname" class="input-size6 required" value="@Model.User.Surname" /> </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="right">
                                            <input id="regular-signin" type="submit" value='@GetResource(ResourceKeys.Register)' class='button-primary' />
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td><br/>&nbsp;&nbsp;« <a href="~/account/login">@GetResource(ResourceKeys.Login)</a></td>
        </tr>
    </table>
    <div>&nbsp;</div>
</div>
</div>

@section DocumentReady
{
    gemini_account.initRegister();
}

@section JavaScript
{
  
}

