@model PeopleOrganizationModel

<p id="tab-help-message"><strong>&#187;</strong>&nbsp;By grouping users into <strong>Organizations</strong>, users can be permitted to see each others items within the same organization. After creating an organization assign permissions via <strong>People > Permission</strong>. </p>

<div class="admin-datatable-holder">
    <table id="table-admin-groups" class="basic">
        <thead>
            <tr>
                <th data-field="Name" data-required='true'>Organization</th>
                <th data-field="Description">Description</th>
                <th data-field="Description">Membership Count</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Organizations)
            {
            <tr data-id="@item.Id">
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td data-edit="false" class="no-width"><a href="#" id="members">@item.Members.Count - Members</a></td>
                
                <td data-edit="false" class="actions">
                    <span class="action-button-edit cursor-pointer" data-method="edit" title="@GetResource(ResourceKeys.Edit)"></span>
                    <span class="action-button-delete cursor-pointer" data-method="delete" title="@GetResource(ResourceKeys.Delete)"></span>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        gemini_admin.initDatatablesWithEdit("#table-admin-groups", false, null, { "aoColumnDefs": [{ "bSortable": false, "aTargets": [2] }] });

        $("#table-admin-groups").off('click', "span[data-method='delete']").on('click', "span[data-method='delete']", function () {
            var item = $(this);
            var id = item.closest("tr").data("id");

            gemini_ajax.call("configure/People/Organizations", "DeleteMessage", function (response) {

                gemini_popup.modalConfirm(response.Result, null, function () {
                    gemini_ui.startBusy('#colorbox2 #modal-confirm #modal-button-yes');
                    gemini_ajax.call("configure/People/Organizations", "Delete", function (delResponse) {
                        if (delResponse.Success) {
                            gemini_admin.removeRow(item);
                            gemini_ui.stopBusy('#modal-confirm #modal-button-yes');
                        }
                    }, function () { gemini_ui.stopBusy('#modal-confirm #modal-button-yes'); }, { id: id, newOrg: $('#new-organization').val() }, null, true);
                });

            },
            null, { id: id }, null, true);

        });
         
        $("#table-admin-groups_wrapper").prepend("<div id='add-button-container'><input id='system-options-add' type='button' value='Add' class='button-primary'></div>");

        $("#system-options-add").click(function () {
            gemini_popup.centerPopup("configure/People/Organizations", "Add", null, null, null, null, null, null, null, true);
        });

        $("#table-admin-groups").on('click', ".actions span[data-method='edit']", function () {

            var item = $(this);
            var id = item.closest("tr").data("id");
            gemini_popup.centerPopup("configure/People/Organizations", "Editor", { id: id, mode: "edit" }, null, null, null, null, null, null, true);
        });

        $("#table-admin-groups").on('click', "#members", function (e)
        {
            gemini_commons.stopClick(e);
            var item = $(this);
            var id = item.closest("tr").data("id");
            gemini_popup.centerPopup("configure/People/Organizations", "Editor", { id: id, mode: "members" }, null, "OK", "Close", true, false, null, true);
        });
    });
</script>
