@model BaseIssuesModel
 
@if (Model != null && Model.Columns != null)
{
    
    List<int> cardIds = new List<int>();
    bool showSequencing = false;
    bool allowSequencing = false;
    if (Model is ItemsGridModel)
     {
         showSequencing = ((ItemsGridModel) Model).ShowSequencing;
         allowSequencing = ((ItemsGridModel)Model).AllowSequencing;
     }
    if (Model.CurrentPageCard.CardData.Badges.Count > 0)
    {
        var ids = Model.CurrentPageCard.CardData.Badges;
        foreach(var id in ids)
        {
            cardIds.Add(id);
        }
    }
    HierarchyGridModel hierarchy = Model as HierarchyGridModel;
foreach (var issue in Model.Issues)
{
bool firstCol = true;
string dependant = hierarchy != null && hierarchy.DependancySpacing.ContainsKey(issue.Entity.Id) ? "dependant" : string.Empty;
<tr id='tr-issue-@issue.Id' data-issue-id='@issue.Id' data-project-code='@issue.ProjectCode' data-project-id='@issue.Project.Id' class='@ViewHelpers.HighlightIssueRow(issue, cardIds) @dependant'>
<td class="items-first-column">
@if(hierarchy == null)
{
if (allowSequencing && showSequencing)
{
<span class="fonticon-drag-handle dragHandle item-drag-handle"></span>
<input type="checkbox" class="checked-items fancy" value="@issue.Entity.Id"/>
}
else
{
<input type="checkbox" class="checked-items fancy" value="@issue.Entity.Id"/>
}
}
else
{
if (allowSequencing && showSequencing)
{
<span class="fonticon-drag-handle dragHandle item-drag-handle"></span>
}
<input type="checkbox" class="checked-items fancy" value="@issue.Entity.Id"/>
}
</td>
@{
var data = Model.DisplayData[issue.Entity.Id];
var lastColumn = data.Count == 0 ? null : data[data.Count - 1];
foreach (var coldata in data)
{
<td class='@coldata.cssClass'>

                
@if (firstCol)
{
if (hierarchy != null && hierarchy.DependancySpacing.ContainsKey(issue.Entity.Id))
{

for (int i = 0; i < hierarchy.DependancySpacing[issue.Entity.Id] - 2; i++)
{
@:&nbsp;
}
<span class="indented">L</span>
}
}
@Html.Raw(coldata.FormattedData)
@if(firstCol)
{
if(hierarchy == null && Model.GroupDependencies && issue.Entity.IsParent && !issue.Entity.ParentIssueId.HasValue)
{
<span class='parent fonticon-arrow-down expander'></span>
}
firstCol = false;
}
else if(lastColumn == coldata)
{
<div class='item-context-menu fonticon-dropdown right'></div>
}
</td>
}
        }
        </tr>
    }
}

<script type="text/javascript">
        $(document).ready(function () {
            gemini_items.initComments();
        });
    </script>