@model BaseIssuesModel
 
@if (Model == null || Model.Columns == null)
{
    <table id="tabledata" border="0" ></table>
}
else
{
    List<int> cardIds = new List<int>();
    bool showSequencing = false;
    bool showSLA = false;
    bool allowSequencing = false;

    if (Model is ItemsGridModel)
    {
        var itemsModel = ((ItemsGridModel)Model);
        showSequencing = itemsModel.ShowSequencing;
        allowSequencing = itemsModel.AllowSequencing;
        showSLA = itemsModel.ShowSLA;
    }

    if (Model.CurrentPageCard.CardData.HighlightChanges && Model.CurrentPageCard.CardData.Badges.Count > 0)
    {
        var ids = Model.CurrentPageCard.CardData.Badges;
        foreach (var id in ids)
        {
            cardIds.Add(id);
        }
    }
    <table id="tabledata" border="0" >
    <thead>
        <tr>
            <th class="items-first-column" data-id="SLA">
                @if (allowSequencing && showSequencing)
                {
                    <span class="fonticon-drag-handle dragHandle item-drag-handle invisible"></span>
                }
                else if(showSLA)
                {
                    <img src="~/assets/images/clock-icon.png" class="sla-clock" title="SLA" />
                }
                <input type="checkbox" name="check-all-items" id="check-all-items" value="1" class="fancy"/>
                
            </th>

        @foreach (var property in Model.Columns)
        {
            if (!string.IsNullOrWhiteSpace(property.field) || property.IsCustomField)
            {
                string id = property.IsCustomField ? property.CustomFieldId : property.Attribute.ToString();
                if (property.sortable)
                {
                    if (property.sortDirection == -1)
                    {
            <th class="sortable desc @property.headerCssClass" data-id='@id' >@property.name</th>
                    }
                    else if (property.sortDirection == 1)
                    {
            <th class="sortable asc @property.headerCssClass" data-id='@id'>@property.name</th>
                    }
                    else
                    {
            <th class="sortable @property.headerCssClass @if(property.Sorted){<text>no-wrap</text>}" data-id='@id'>@property.name @if(property.Sorted){<text><span class="@(property.SortedDescending ? "fonticon-arrow-down" : "fonticon-arrow-up") valign-text-bottom"></span></text>}</th>
                    }
                }
                else
                {
            <th data-id='@id' class='align-left @if(property.Sorted){<text>no-wrap</text>}'>@property.name @if(property.Sorted){<text><span class="@(property.SortedDescending ? "fonticon-arrow-down" : "fonticon-arrow-up") valign-text-bottom"></span></text>}</th>
                }
            }
        }
        </tr>
    </thead>
    <tbody>
    @if (Model is ItemsGridModel)
    {
        var itemsModel = ((ItemsGridModel)Model);
        showSequencing = itemsModel.ShowSequencing;
        allowSequencing = itemsModel.AllowSequencing;
        foreach (var issue in itemsModel.SequencedIssues)
        {
            bool firstCol = true;
            var sequenceData = itemsModel.SequencedData[issue.Entity.Id];
<tr id='tr-issue-@issue.Id' data-issue-id='@issue.Id' data-project-code='@issue.ProjectCode' data-project-id='@issue.Project.Id' class='sequenced-issue @ViewHelpers.HighlightIssueRow(issue, cardIds)'>
<td class='align-left no-wrap items-first-column read-only'>

@if (allowSequencing)
{
<span class="fonticon-drag-handle dragHandle item-drag-handle"></span>
}
else if(showSLA)
{
    <div @if(issue.Entity.SLAStatus.HasValue) {<text>class="sla-@issue.Entity.SLAStatus.Value"</text>} else if(issue.IsInSLA) {<text>class="sla-3"</text>} title="@issue.SLATimeLeftFull" >
    <span class="sla-timer valign-top" data-sla-state="@issue.Entity.SLAStatus" data-sla-minutes="@issue.SLATimeLeftMinutes">@issue.SLATimeLeft</span>
    </div>
}
<input type="checkbox" class="checked-items fancy" value="@issue.Entity.Id" />
</td>
@foreach (var coldata in sequenceData)
{
<td class='@coldata.cssClass'>
@Html.Raw(coldata.FormattedData)
@if (firstCol)
{
    if (itemsModel.GroupDependencies && issue.Entity.IsParent && !issue.Entity.ParentIssueId.HasValue)
    {
<span class='parent fonticon-arrow-down expander'></span>
    }
    firstCol = false;
}
</td>
}
</tr>
        }
        if (showSequencing || itemsModel.SequencedIssues.Count > 0)
        {
            <tr class='drop-zone'>
            <td></td>
            @foreach (var property in Model.Columns)
            {
                // Get the property
                if (!string.IsNullOrWhiteSpace(property.field) || property.IsCustomField)
                {
                    <td></td>
                }
            }
            </tr>
        }
    }
    
@foreach (var issue in Model.Issues)
{
    bool firstCol = true;
<tr id='tr-issue-@issue.Id' data-issue-id='@issue.Id' data-project-code='@issue.ProjectCode' data-project-id='@issue.Project.Id' class='@ViewHelpers.HighlightIssueRow(issue, cardIds)'>       
@{
    var data = Model.DisplayData[issue.Entity.Id];
<td class="align-left no-wrap items-first-column read-only">
@if (allowSequencing && showSequencing)
{
<span class="fonticon-drag-handle dragHandle item-drag-handle"></span>
}
else if (showSLA && (issue.Entity.SLAStatus.HasValue || issue.IsInSLA))
{
    <div @if(issue.Entity.SLAStatus.HasValue) {<text>class="sla-@issue.Entity.SLAStatus.Value"</text>} else if(issue.IsInSLA){<text>class="sla-3"</text>} title="@issue.SLATimeLeftFull">
    <span class="sla-timer valign-top" data-sla-state="@issue.Entity.SLAStatus" data-sla-minutes="@issue.SLATimeLeftMinutes">@issue.SLATimeLeft</span>
    </div>
}
<input type="checkbox" class="checked-items fancy" value="@issue.Entity.Id"/>
</td>
foreach (var coldata in data)
{
<td class='@coldata.cssClass'>

@Html.Raw(coldata.FormattedData)
@if (firstCol)
{
    if (Model.GroupDependencies && issue.Entity.IsParent && !issue.Entity.ParentIssueId.HasValue)
    {
<span class='parent fonticon-arrow-down expander'></span>
    }
    firstCol = false;
}
</td>
}
}
</tr>
}
    </tbody>
    </table>
    <div id='comments' class='hide'></div>
    <script type="text/javascript">
        $(document).ready(function () {
            gemini_items.initComments();
        });
    </script>
}

@if (IsAuthenticated)
{
    <ul id="item-grid-context-menu" class="cs-menu-context">
        <li><a href="#view">@GetResource(ResourceKeys.View)</a></li>
        <li><a href="#follow">@GetResource(ResourceKeys.FollowUnfollow)</a></li>
        <li><a href="#comment">@GetResource(ResourceKeys.Comment, Resourcing.Dotted)</a></li>
        <li><a href="#edit">@GetResource(ResourceKeys.Edit, Resourcing.Dotted)</a></li>
        <li><a href="#time">@GetResource(ResourceKeys.Time, Resourcing.Dotted)</a></li>
        @if (!GeminiContext.PermissionsManager.IsHelpdeskUser())
        { 
            <li><a href="#sequencemenu">@GetResource(ResourceKeys.Sequence, Resourcing.Dotted)</a></li>
            <li class="highlight"><a href="#delete">@GetResource(ResourceKeys.Delete, Resourcing.Dotted)</a></li>
        }
    </ul>
}
