@model ViewIssueModel
@{
    var asOf = Model.Issue.AsOf.HasValue ? string.Concat("?asof=", Model.Issue.AsOfString) : string.Empty;
}
<div id="filter-navigator">
    @if(Model.PreviousIssue != null)
    {
    <a href="~/workspace/@Model.WorkspaceId/item/@Model.PreviousIssue.Id@asOf" class="previous">
        @IconHelper.Icon( "arrow-left", IconHelper.FontAwesomeStyles.Duotone )
    </a>
    }
    else
    {
    <a href="#" class="previous">
        <span class="disabled">
            @IconHelper.Icon( "arrow-left", IconHelper.FontAwesomeStyles.Duotone )
        </span>
    </a>
    }

    <a class="position" href="~/workspace/@Model.WorkspaceId/items?session">@Model.CurrentIssueLocation / @Model.TotalIssues</a>

    @if(Model.NextIssue != null)
    {
    <a href="~/workspace/@Model.WorkspaceId/item/@Model.NextIssue.Id@asOf" class="next">
        @IconHelper.Icon( "arrow-right", IconHelper.FontAwesomeStyles.Duotone )
    </a>
    }
    else
    {
        <a href="#" class="next">
            <span class="disabled">
                @IconHelper.Icon( "arrow-right", IconHelper.FontAwesomeStyles.Duotone )
            </span>
        </a>
    }
</div>
