@model ViewIssueModel


@if (Model[ItemAttributeVisibility.AssociatedLinks] && Model.Issue.Links.Count > 0)
{
    <div class='margin-bottom-5 see-also'>@GetResourceTemplate(ResourceKeys.SeeAlso, Resourcing.Colon)&nbsp;
        @foreach (var link in Model.Issue.Links)
        {
            var issue = link.Issue.Id == Model.Issue.Id ? link.OtherIssue : link.Issue;
            <div class="see-also-value">
                <a class='@ViewHelpers.IssueStriked(issue)' href='@Url.Action("Item", "Item", new RouteValueDictionary(new { projectid = issue.Project.Id, projectcode = issue.Project.Code, issueid = issue.Id }))' title='@(link.LinkType):&nbsp;@issue.Title'>@issue.IssueKey</a>
                <span data-id="@issue.Id" class="delete-link fonticon-cross"></span>
            </div>
        }
    </div>
}
else
{
    
}

<div id="links-find-item-container" class="hide">
    <input type="hidden" id="links-find-item-id"/>
    <form name="links-form">
        <span class="left">@GetResourceTemplate(ResourceKeys.Link)</span>
        <input class="left input-size6 required" id="links-find-item" name="linksFindItem" type="text"/>        
        @Html.DropDownList("linktypes", Model.IssueLinkTypes, new {@class="input-size5 left"})
        <span class="fonticon-tick left"></span>
        <span class="fonticon-cross left"></span>
    </form>
</div>