@model ViewIssueModel

@if(Model.Issue.SLA != null && Model[ItemAttributeVisibility.SLA])
{
    <div class="margin-bottom-20">
    <div class="touch-info bold"><span class="box"><span class="label">@GetResourceTemplate(ResourceKeys.SLA)</span></span> @(Model.Issue.SLA.Name) @(Model.SLAState)<span class="view-sla-@Model.Issue.Entity.SLAStatus sla-timer" data-sla-minutes="@Model.Issue.SLATimeLeftMinutes" data-sla-state="@Model.Issue.Entity.SLAStatus">@(Model.Issue.SLATimeLeftFull)</span></div>    
    </div>
}

@if (Model.SourceLink.HasValue())
{
    if (Model[ItemAttributeVisibility.Source])
    {
        <div class="touch-info"><span class="box"><span class="label">@GetResourceTemplate(ResourceKeys.Created)</span></span> @Model.Issue.Created.ToString("dd-MMM-yyyy HH:mm") &rarr; @GetResourceTemplate(ResourceKeys.From, Resourcing.Lower) @Html.Raw(Model.SourceLink)</div>
    }         
}
else
{
    if (Model[ItemAttributeVisibility.DateCreated])
    { 
        <div class="touch-info"><span class="box"><span class="label">@GetResourceTemplate(ResourceKeys.Created)</span></span> @Model.Issue.Created.ToString("dd-MMM-yyyy HH:mm") &rarr; @Model.Issue.Reporter @if(Model.Issue.Entity.ReportedBy != Model.Issue.Entity.Creator){<text>(via @(Model.Issue.Creator))</text>} </div>
    }
}

@if (Model[ItemAttributeVisibility.DateRevised])
{
    <div class="touch-info"><span class="box"><span class="label">@GetResourceTemplate(ResourceKeys.Revised)</span></span> @Model.Issue.Revised.ToString("dd-MMM-yyyy HH:mm") @if (Model[ItemAttributeVisibility.AssociatedHistory]){ <text>&rarr;</text> @Model.Issue.Reviser }</div>
}

@if (Model[ItemAttributeVisibility.ClosedDate])
{
    <div class="touch-info"><span class="box"><span class="label">@GetResourceTemplate(ResourceKeys.ClosedDate)</span></span> @(Model.Issue.ClosedDate == null ? "" : Model.Issue.ClosedDate.Value.ToString("dd-MMM-yyyy HH:mm"))</div>
}
                                                                                                                                                                                                            
@if (Model[ItemAttributeVisibility.ResolvedDate])
{
    <div class="touch-info"><span class="box"><span class="label">@GetResourceTemplate(ResourceKeys.ResolvedDate)</span></span> @(Model.Issue.ResolvedDate == null ? "" : Model.Issue.ResolvedDate.Value.ToString("dd-MMM-yyyy HH:mm"))</div>
}
                                                                                                                                                                                                            
@if (Model[ItemAttributeVisibility.Elapsed])
{
    TimeSpan span = Model.Issue.ElapsedTime;

    <div class="touch-info"><span class="box"><span class="label">@GetResourceTemplate(ResourceKeys.Elapsed)</span></span> @string.Format("{0}d {1}h {2}m", span.Days, span.Hours, span.Minutes)</div>
}