@model ViewIssueModel


        <div id='timelog-section' data-contentid="timelog-content" class="left tab normal"><h3><i class="fad fa-stopwatch"></i> @GetResourceTemplate(ResourceKeys.Time)&nbsp;(@Model.Issue.TimeEntries.Count)</h3></div>
    <div class="tab-content timelogs hide" id="timelog-content">
        @if (CanDoItemAction(UserAction.Create, ItemAttributeVisibility.AssociatedTime) && !GeminiContext.PermissionsManager.IsHelpdeskUser())
        {
        <div class="toolbar actions">
                <a class="button add" href="#" title="@GetResource(ResourceKeys.Add) @GetResource(ResourceKeys.Time)">@GetResource(ResourceKeys.Add)</a>
        </div>
        }
        @if (Model.Issue.TimeEntries.Count() > 0) 
        {
            <table>
            <tr>
                <th>@GetResource(ResourceKeys.Date)</th>
                <th>@GetResource(ResourceKeys.Resource)</th>
                <th>@GetResource(ResourceKeys.TimeType)</th>
                <th>@GetResource(ResourceKeys.Hours)</th>
                <th>@GetResource(ResourceKeys.Minutes)</th>
                <th>@GetResource(ResourceKeys.Comment)</th>
                <th></th>
            </tr>
            @{int hours = 0;
              int minutes = 0;}

            @foreach (var time in Model.Issue.TimeEntries)
            {
                hours += time.Entity.Hours;
                minutes += time.Entity.Minutes;
                <tr data-id="@time.Entity.Id">
                    <td>@time.Entity.EntryDate.ToShortDateString()</td>
                    <td>@time.Fullname</td>
                    <td>@time.TimeType</td>
                    <td>@time.Entity.Hours<span>h</span></td>
                    <td>@time.Entity.Minutes<span>m</span></td>
                    <td>@time.Entity.Comment</td>
                    <td>@if (CanDoItemAction(UserAction.Edit, ItemAttributeVisibility.AssociatedTime) && !GeminiContext.PermissionsManager.IsHelpdeskUser())  {<div class="cursor-pointer action-button-edit" title="@GetResource(ResourceKeys.Edit) @GetResource(ResourceKeys.Time)"></div><div class="cursor-pointer action-button-delete" title="@GetResource(ResourceKeys.Delete) @GetResource(ResourceKeys.Time)"></div>}</td>
                </tr>
            }
            </table>
             int total = ((@hours*60) + @minutes);
             int hour = @total / 60;
             int minute = @total % 60;
             <span class="time-entry-total">@GetResourceTemplate(ResourceKeys.Total) @string.Concat(@GetResourceTemplate(ResourceKeys.Time),": ")  @hour @GetResourceTemplate(ResourceKeys.Hours) @minute @GetResourceTemplate(ResourceKeys.Minutes)</span>

        }
        else if (Model.ShowTimeWatermark)
        {
            <a target="_blank" href='http://docs.countersoft.com/recording-time/'>@{ Html.RenderPartial("~/Views/Shared/EmptyState/_ViewItemImage.cshtml", "no-time.png"); }</a>
        }
    </div>