@model ViewIssueModel

        <div id='sourcecode-section' data-contentid="sourcecode-content" class="left tab normal"><h3><i class="fad fa-code"></i> @GetResourceTemplate(ResourceKeys.SourceControl)&nbsp;(@Model.Issue.SourceControlFiles.Count)</h3></div>
        <div class="tab-content source-code hide" id="sourcecode-content">
        @if (CanDoItemAction(UserAction.Create, ItemAttributeVisibility.AssociatedSourceControl))
        {
            <div class="toolbar actions">
                <a class="button add" href="#" title="@GetResource(ResourceKeys.Add) @GetResource(ResourceKeys.SourceControl)">@GetResource(ResourceKeys.Add)</a>
            </div>
        }
        @if (@Model.Issue.SourceControlFiles.Count > 0 )
        {
            <table>
               <tr>
                   <th>@GetResourceTemplate(ResourceKeys.FileName)</th>
                   <th>@GetResourceTemplate(ResourceKeys.FilePath)</th>
                   <th>@GetResourceTemplate(ResourceKeys.Repository)</th>
                   <th></th>
               </tr>
            @foreach (var source in Model.Issue.SourceControlFiles)
            {
                <tr data-id="@source.Id">
                    <td>@source.Name</td>
                    <td>@source.Path</td>
                    <td>@source.Repository</td>
                    <td>@if(CanDoItemAction(UserAction.Delete, ItemAttributeVisibility.AssociatedSourceControl)){<span class="cursor-pointer action-button-delete" title="@GetResource(ResourceKeys.Delete) @GetResource(ResourceKeys.SourceControl)"></span>}</td>
                </tr>
            }
            </table>
        }
    </div>
