@model ViewIssueModel

<div id="item-attachments">
    @{
        bool canDelete = CanDoItemAction(UserAction.Delete, ItemAttributeVisibility.AssociatedAttachments);    
    }        

        
    @if (Model[ItemAttributeVisibility.AssociatedAttachments])
    {
        if (CanDoItemAction(UserAction.Create, ItemAttributeVisibility.AssociatedAttachments))
        {
            <div id="phantom-fileuploader"></div>
        }
        
        foreach (var attachment in Model.Issue.Attachments)
        {
            if (attachment.IsImage)
            {
                <div  class="thumbnail" data-id="@attachment.Entity.Id">
                    <div class="thumbnail-image">                    
                            @if(canDelete){<span class="thumbnail-close-image" data-id="@attachment.Entity.Id" title="@GetResource(ResourceKeys.Delete) @GetResource(ResourceKeys.Attachments)"><a href="#"><span class="fonticon-cross"></span></a></span>}
                            <a target="_blank" href='@Url.Action("ImagePreview", "AjaxItem", new RouteValueDictionary(new { projectid = Model.Issue.Project.Id, projectcode = Model.Issue.Project.Code, issueid = Model.Issue.Id, fileid = attachment.Entity.Id, width = 0, height = 0 }))'><img alt='@attachment.Entity.ShortFileName' title="@attachment.Entity.Size - @attachment.CreatedRelative" src='@Url.Action("ImagePreview", "AjaxItem", new RouteValueDictionary(new { projectid = Model.Issue.Project.Id, projectcode = Model.Issue.Project.Code, issueid = Model.Issue.Id, fileid = attachment.Entity.Id, width = 64, height = 64 }))' /></a>
                    </div>
                    <div class="thumbnail-name" title="@attachment.Entity.ShortFileName"><a href='@Url.Action("DownloadAttachment", "AjaxItem", new RouteValueDictionary(new { projectid = Model.Issue.Project.Id, projectcode = Model.Issue.Project.Code, issueid = Model.Issue.Id, filename = "download", fileid = attachment.Entity.Id }))'>@attachment.Entity.ShortFileName.ToMaxMore(12)</a></div>
                </div>
            }
            else
            {
                <div  class="thumbnail" data-id="@attachment.Entity.Id">                        
                    <div class="thumbnail-image">
                            @if(canDelete){<span class="thumbnail-close-image" data-id="@attachment.Entity.Id"><a href="#"><span class="fonticon-cross"></span></a></span>}
                            <a href='@Url.Action("DownloadAttachment", "AjaxItem", new RouteValueDictionary(new { projectid = Model.Issue.Project.Id, projectcode = Model.Issue.Project.Code, issueid = Model.Issue.Id, filename = "download", fileid = attachment.Entity.Id }))'><img alt='@attachment.Entity.ShortFileName' title="@attachment.Entity.Size - @attachment.CreatedRelative" src='@Html.Raw(@attachment.IconPath)'/></a>
                        </div>
                    <div class="thumbnail-name" title="@attachment.Entity.ShortFileName"><a href='@Url.Action("DownloadAttachment", "AjaxItem", new RouteValueDictionary(new { projectid = Model.Issue.Project.Id, projectcode = Model.Issue.Project.Code, issueid = Model.Issue.Id, filename = "download", fileid = attachment.Entity.Id }))'>@attachment.Entity.ShortFileName.ToMaxMore(12)</a></div>
                </div>
            }
        }
    }
    <div class="clearfix"></div>
</div>