@model ViewIssueModel

        <div id='history-section' data-contentid="history-content" class="left tab normal">
            <h3><i class="fad fa-history"></i> @GetResourceTemplate(ResourceKeys.History)&nbsp;(@Model.Issue.History.Count)</h3>
        </div>
    
    <div class="tab-content history hide" id="history-content">
    	<table cellpadding="0" cellspacing="0">
        <tr>
            <th>@GetResource(ResourceKeys.Date)</th>
            <th>@GetResource(ResourceKeys.User)</th>
            <th>@GetResource(ResourceKeys.Field)</th>
            <th>@GetResource(ResourceKeys.Before)</th>
            <th>@GetResource(ResourceKeys.After)</th>
        </tr>
        @foreach (var history in Model.Issue.History)
        {
            <tr>
                <td class="no-wrap">@history.Entity.Created.ToString()</td>
                <td class="no-wrap">@history.Entity.Fullname</td>
                <td class="no-wrap">@history.Field</td>
                
                @{
                    var valueBefore = Countersoft.Foundation.Utility.Helpers.HtmlHelper.ConvertHtmlToText(history.Entity.ValueBefore.ToMaxMore(1000), true);
                    var valueAfter = Countersoft.Foundation.Utility.Helpers.HtmlHelper.ConvertHtmlToText(history.Entity.ValueAfter.ToMaxMore(1000), true);
                }

                <td class="before" title="@valueBefore">@valueBefore.ToMaxMore(50)</td>
                <td class="after" title="@valueAfter">@valueAfter.ToMaxMore(50)</td>
            </tr>
        }
        </table>
    </div>
