@model ViewIssueModel  
                    
        <div class="item-dates-box">
            <table class="width-100">
                @if (Model[ItemAttributeVisibility.PercentComplete])
                {
                    <tr>
                        <td colspan="2" align="center" valign="top"><div id='percentage' style="width: 50px; height: 50px"></div></td>
                    </tr>
                }

            @if (Model[ItemAttributeVisibility.DateCreated] || Model[ItemAttributeVisibility.ReportedBy])
            { 
                <tr>
                    <td class='label'>@GetResourceTemplate(ResourceKeys.Created, Resourcing.Colon)</td> 
                    <td class='data' @if (Model[ItemAttributeVisibility.DateCreated])
                                        {<text>title='@Model.Issue.CreatedString'</text>}>
                        @if (Model[ItemAttributeVisibility.DateCreated])
                        {
<text>@Model.Issue.Created.ToString("dd-MMM-yyyy HH:mm")</text>
                        }
                        @if (Model[ItemAttributeVisibility.ReportedBy])
                        {<text><br /><div class="left margin-left-5 fonticon-arrow2-left" style="font-size:15px;"></div>@Model.Issue.Reporter</text> }
                    </td>
                </tr>
            }

            @if (Model[ItemAttributeVisibility.DateRevised])
            {
                <tr>
                    <td class='label'>@GetResourceTemplate(ResourceKeys.Revised, Resourcing.Colon)</td>
                    <td class='data' title='@Model.Issue.RevisedString'>@Model.Issue.Revised.ToString("dd-MMM-yyyy HH:mm")
                        <br /><div class="left margin-left-5 fonticon-arrow2-left" style="font-size:15px;"></div>@Model.Issue.Reviser
                    </td> 
                </tr>
            }
                                                                                                                                                                                                   
            @if (Model[ItemAttributeVisibility.ClosedDate])
            {
                <tr>
                    <td class='label'>@GetResourceTemplate(ResourceKeys.ClosedDate, Resourcing.Colon)</td>
                    <td class='data' title='@Model.Issue.ClosedDateString'>@(Model.Issue.ClosedDate == null ? "" : Model.Issue.ClosedDate.Value.ToString("dd-MMM-yyyy HH:mm"))</td>
                </tr>
            }
                                                                                                                                                                                                            
            @if (Model[ItemAttributeVisibility.ResolvedDate])
            {
                <tr>
                    <td class='label'>@GetResourceTemplate(ResourceKeys.ResolvedDate, Resourcing.Colon)</td>
                    <td class='data' title='@Model.Issue.ResolvedDateString'>@(Model.Issue.ResolvedDate == null ? "" : Model.Issue.ResolvedDate.Value.ToString("dd-MMM-yyyy HH:mm"))</td>
                </tr>
            }

            @if (Model[ItemAttributeVisibility.Elapsed] || Model[ItemAttributeVisibility.EstimatedEffort] || Model[ItemAttributeVisibility.CalculatedTimeLogged] || (Model[ItemAttributeVisibility.CalculatedTimeExceeded] && Model.Issue.IsExcessTime || Model[ItemAttributeVisibility.CalculatedTimeRemaining] && !Model.Issue.IsExcessTime) || Model[ItemAttributeVisibility.Source])
            {
                <tr><td colspan="2"><div class="attribute margin-top-5" style="min-height:0px;"></div></td></tr>
            }

            @if (Model[ItemAttributeVisibility.Elapsed])
            {
                <tr>
                    <td class='label'>@GetResourceTemplate(ResourceKeys.Elapsed, Resourcing.Colon)</td>
                    <td class='data' title='@Model.Issue.Elapsed'>
                        @{
                            TimeSpan span = Model.Issue.ElapsedTime;
                        }

                        @string.Format("{0}d {1}h {2}m", span.Days, span.Hours, span.Minutes)
                    </td>
                </tr>
            }
            
            @if (Model[ItemAttributeVisibility.EstimatedEffort])
            {
                <tr>
                <td class='label'>@GetResource(ResourceKeys.Estimated, Resourcing.Colon)</td>
                <td class='data'>@Model.Issue.EstimatedEffort</td>
                </tr>
            }

            @if (Model[ItemAttributeVisibility.CalculatedTimeLogged])
            {
                <tr>
                <td class='label'>@GetResource(ResourceKeys.Logged, Resourcing.Colon)</td>
                <td class='data'>@Model.Issue.TimeLogged</td>
                </tr>
            }

            @if (Model[ItemAttributeVisibility.CalculatedTimeExceeded] && Model.Issue.IsExcessTime || Model[ItemAttributeVisibility.CalculatedTimeRemaining] && !Model.Issue.IsExcessTime)
            {
                <tr>
                <td class='label'>@GetResource(Model.Issue.IsExcessTime ? ResourceKeys.TimeExceeded : ResourceKeys.TimeRemaining, Resourcing.Colon)</td>
                <td class='data'>@Model.Issue.ExcessTimeOrTimeLeft</td>
                </tr>
            }
            
            @if (Model[ItemAttributeVisibility.Source])
            {
                <tr>
                    <td class='label'>@GetResourceTemplate(ResourceKeys.Source, Resourcing.Colon)</td>
                    <td class='data'>@Html.Raw(Model.SourceLink)</td>
                </tr>
            }         
        </table>
        </div>

<div id="attributes-wrapper">
    <ul id='attributes'>
        @Html.Raw(Model.Attributes)
        <li class="attribute project"><ul><li class="attribute-header" data-attribute-id="ProjectName"></li></ul></li>
      
    </ul>
</div>
<script type="text/javascript">

    $(window).ready(function() {
        @if (Model[ItemAttributeVisibility.PercentComplete] && Model.Issue.PercentComplete > 0)
        {
            @:gemini_ui.tinyPercent('#percentage', @Model.Issue.PercentComplete, '#41a241', '#000', 500);
        }
        else
        {
            @:$('#percentage').hide();
        }
    });
</script>