@using Countersoft.Foundation.Commons.Extensions
<div id='@Model.Issue.Id' data-project-id="@Model.Issue.Entity.ProjectId" class='plan-card @Model.Color clearfix'><div class='card-options-icon'><span class='fonticon-arrow-down'></span></div><div class='plan-content left'><p class="title" title="@Model.Issue.IssueKey - @Model.Issue.Title"><strong>@Model.Issue.IssueKey</strong></p></div></div>