@model CardDataModel

@foreach (var item in Model.Items)
{
    <tr>
        <td><input type="checkbox" id="changes-@item.Id" class="item-checkboxes item-badge fancy" title="@item.Title" name="ChangedItems" value="@item.Id" /></td>
        <td><a class="no-wrap" href="@item.Url" target="_blank">@item.Title</a></td>
        <td><label title="@item.Description" for="changes-@item.Id">@item.Description.ToMaxMore(60)</label></td>
    </tr>
}