@model BreezeQueueEditModel
<div id="BreezeQueuesItemContainer">
    <form id="regular-form">
    <input type="hidden" value="@Model.Queue.Id" name="Id" id="Id" />
    <table id="table-admin-breezequeue" class="admin-data-entry">
        <tbody>
            <tr>
                <td class="field-name">Name
                </td>
                <td>
                    <input type="text" id="Name" name="Name" 
                               class="input-field required input-size9" value="@Model.Queue.Name"/>
                </td>
            </tr>
            <tr>
                <td class="field-name" valign="top">Description
                </td>
                <td>
                    <input type="text" id="Description" name="Description" 
                           class="input-field input-size9" value="@Model.Queue.Description" />
                </td>
            </tr>
            <tr>
                <td class="field-name">Color
                </td>
                <td>
                    <input type="hidden" name="Color" id="Color" value="@Model.Queue.Color" />
                    <div id="colorSelector">
                        <div style="background-color: @Model.Queue.Color"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="field-name">Active
                </td>
                <td>
                    <input type="checkbox" class="fancy" id="Active" name="Active" @if(Model.Queue.Enabled)
                                                                     {
                                                                         @: checked="checked" 
                                                                     }/>
                </td>
            </tr>
            <tr>
                <td class="field-name">Project
                </td>
                <td>
                     @Html.DropDownList("Project", Model.Projects, new { @class = "input-size6 required" })
                </td>
            </tr>
        </tbody>
    </table>
    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('option', '#Project').each(function () {
            $(this).html($(this).html().replace('&lt;', '<').replace('&gt;', '>'));
        });
        gemini_ui.chosen("#Project", null, true);
        gemini_ui.setDropdownValue("#Project", '@(Model.Queue.ProjectId)');

        gemini_ui.fancyInputs('#table-admin-breezequeue .fancy');

        $('#colorSelector', "#BreezeQueuesItemContainer").ColorPicker({
            onChange: function (hsb, hex, rgb) {
                $('#colorSelector div', "#BreezeQueuesItemContainer").css('backgroundColor', '#' + hex);
                $('#ColorCode', "#BreezeQueuesItemContainer").val('#' + hex);
            },
            onSubmit: function (hsb, hex, rgb, el) {
                $(el).val(hex);
                $(el).ColorPickerHide();
                $('#Color', "#BreezeQueuesItemContainer").val('#' + hex);
                $('#Color', "#BreezeQueuesItemContainer").change();
            },
            color: '@(Model.Queue.Color)'
        });

        $('#Name').keypress(function (e) {
            if (e.which == 13) {
                jQuery(this).blur();
                jQuery("#popup-button-yes").click();
                return false;
            }
        });

        $("#popup-button-yes").click(function (e) {
            if ($("#regular-form").valid()) {
                gemini_ui.startBusy('#colorbox #popup-button-yes');
                gemini_ajax.postCall("configure/Breeze/Queue", "SaveData", function () {
                    gemini_popup.toast("Saved");

                    gemini_popup.popupClose(e);
                    gemini_ui.stopBusy('#colorbox #popup-button-yes');
                    gemini_admin.getPage();

                }, function () { gemini_ui.stopBusy('#colorbox #popup-button-yes'); }, $("#regular-form").serialize() + gemini_admin.getFormTemplateId(), null, true);
            }
            else {
                $('.error:not(label)', '#cs-popup-content').first().focus();
            }
        });

        $("#popup-button-no").click(function (e) { gemini_popup.popupClose(e); });
    });
</script>
