@using Countersoft.Gemini.Commons.Breeze
@model BreezeSmtpServerModel

<p id="tab-help-message"><strong>&#187;</strong>&nbsp;Define your outbound <strong>SMTP Servers.</strong> Attach <strong>SMTP Servers</strong> to <strong>Mailboxes.</strong></p>
@if (!GeminiApp.LicenseSummary.HasBreeze())
{
    <p id="tab-help-message"><strong>&#187;</strong>&nbsp;@Html.Raw(AppConstants.SalesMessageBreeze)</p>
}

<div class="admin-datatable-holder">
    <table id="table-admin-smtpservers" class="basic">
        <thead>
            <tr>
                <th data-field="Name" data-required='true'>Name</th>                
                <th data-field="Server" data-required='true'>Server</th>
                <th data-field="ServerPort" data-required='true'>Port</th>
                <th></th>            
            </tr>
        </thead>        
        <tbody>
            @foreach (EnquirySmtpServer item in Model.SmtpServers)
            {
                <tr data-id="@item.Id" id="@item.Id">
                    <td>@item.Name</td>                
                    <td>@(item.AuthMode == SmtpAuthenticationMode.Graph ? "Microsoft Graph" : item.Server)</td>   
                    <td>@(item.AuthMode == SmtpAuthenticationMode.Graph ? "Microsoft Graph" : item.ServerPort.ToString())</td>
                    <td data-edit="false" class="actions" >
                        <span class="action-button-edit cursor-pointer" title="@GetResource(ResourceKeys.Edit)" data-method="edit"></span>
                        <span class="action-button-delete cursor-pointer" title="@GetResource(ResourceKeys.Delete)" data-method="delete"></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br/>
    <p id="system-email-trace" class="info-label-2"></p>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        gemini_admin.initDatatablesWithEdit("#table-admin-smtpservers", true, null, { "aoColumnDefs": [{ "bSortable": false, "aTargets": [3]}] });
        gemini_admin.initTableDnD("#table-admin-smtpservers");
        
        $("#table-admin-smtpservers_wrapper").prepend("<div id='add-button-container'><input id='system-options-add' type='button' value='Add' class='button-primary'></div>");

            $("#table-admin-smtpservers_wrapper").off('click', ".actions span[data-method='delete']").on('click',".actions span[data-method='delete']", function (){
            var item = $(this);
            var id = item.closest("tr").data("id");
            gemini_ajax.call("configure/Breeze/SmtpServer", "DeleteMessage", function (response) {
                gemini_popup.modalConfirm(response.Result, null, function () {
                    gemini_ui.startBusy('#modal-confirm #modal-button-yes');
                    gemini_ajax.call("configure/Breeze/SmtpServer", "Delete", function (delResponse) {
                        if (delResponse.Success) {
                            gemini_admin.removeRow(item);                            
                        }
                        gemini_ui.stopBusy('#modal-confirm #modal-button-yes');
                    }, function () { gemini_ui.stopBusy('#modal-confirm #modal-button-yes'); }, { id: id }, null, true);
                });
            },
            null, { id: id }, null, true);
        });

            $("#table-admin-smtpservers").off('click', ".actions span[data-method='edit']").on('click',".actions span[data-method='edit']", function () {
            var item = $(this);
            var id = item.closest("tr").data("id");
            gemini_popup.centerPopup("configure/Breeze/SmtpServer", "Editor", { id: id }, null, null, null, null, null, null, true);
        });

        $("#system-options-add").click(function () {
            gemini_popup.centerPopup("configure/Breeze/SmtpServer", "Add", null, null, null, null, null, null, null, true);
        });

        if (gemini_admin.message != '') {
            $("#system-email-trace").html(gemini_admin.message).show();
            gemini_admin.message = ''
        } else {
            $("#system-email-trace").hide();
        }
    });
</script>