@model GenericFilterModel

<div id="items-filter" class="clearfix" data-view='@ViewBag.ViewType'>
<ul class="filter-attribute">
@if (@Model.Filters != null)
{
    foreach (var item in @Model.Filters)
    {
        if (item.Contents.Count > 0)
        {
            var group = item.Info.Title.Replace(" ", "");
            
            <li class='attribute' id='@group' data-type='@item.Info.Type' >
            <div class="header"><a>@item.Info.Title</a></div>
            <div class="icon fonticon-arrow-down"></div>
            <div class="label"></div>
            <ul class='filter-data'>
            @foreach (var x in item.Contents)
            {
                var uid = x.ItemId;
                var className = string.Format("{0}-filter filter-changer", item.Info.ClassName);
                <li>@if (x.IsSelected){<input type='checkbox' name='@group' id='@uid' class='@className' checked='checked' />}else{<input type='checkbox' name='@group' id='@uid' class='@className' />}<label for='@uid' title='@x.ItemLabel'>@x.ItemText</label></li>
            }
            </ul>    
            </li>    
        }
    }
}
@if (@Model.Values != null)
{
    foreach (var value in @Model.Values)
    {
        if (value.Contents.Count > 0)
        {
            var group = value.Info.Title.Replace(" ", "");

            <li class='attribute' id='@group' data-type='@value.Info.Type' >
            <div class="header filter-changer-text"><a>@value.Info.Title</a></div>
            <div class="icon fonticon-arrow-down"></div>
            <div class="label">&nbsp;</div>
            <ul class="filter-data">
        
            @foreach (var sub in value.Contents)
            {
                <li>@GetResource(sub.SectionTitle)</li>
                foreach (var item in sub.Contents)
                {
                    <li>@Html.TextBox(item.Property, item.Value, new { CssClass = item.cssName, Class = item.className })</li>
                }
            }

        </ul>
        </li>
        }
    }
}

</ul>
</div>
<ul class="filter-data">
</ul>    
