@model HistoryIssuesRaised

@{
    string arrow = "right";
    string contentstate = "collapsed";    
}

@if (Model.Issues.Select(i=>i.Entity.Id).Contains(Model.HistorySelected.SelectedIssue))
{
    arrow = "down";
    contentstate = "expanded";    
}


@if (Model.Issues.Any())
{
    <div class='items-created clearfix pad-left-20' style="margin-top: 0px !important;padding-left: 67px;margin-bottom:7px;">
        <div class="bold">@GetResource(ResourceKeys.ItemsRaised)</div>
        <div>
            <table class="width-100 grid" style="margin-top:10px !important;">
                <tr>
                    <th>@GetResource(ResourceKeys.ItemKey)</th>
                    <th>@GetResource(ResourceKeys.Title)</th>
                    <th>@GetResource(ResourceKeys.ReportedBy)</th>
                    <th>@GetResource(ResourceKeys.Status)</th>
                    <th>@GetResource(ResourceKeys.Revised)</th>

                </tr>
                <tbody class="grid">
                    @foreach (var issueDto in Model.Issues)
                    {
                        var cls = "";
                        if(issueDto.Entity.Id == Model.HistorySelected.SelectedIssue)
                        {
                            cls = "highlight";
                        }
                        <tr class="@cls">
                            <td class="no-width no-wrap">@Html.Partial("~/views/testing/_ItemLink.cshtml", issueDto)</td>
                            <td>@Html.Raw(issueDto.Entity.Title)</td>
                            <td>@Html.Raw(issueDto.Reporter)</td>
                            <td class="no-wrap">
                                @Html.Partial("~/views/testing/_TestItemState.cshtml", new TestType() { Id = issueDto.Entity.StatusId, Type = issueDto.Status, TypeImage = issueDto.StatusImage })
                            </td>
                            <td class="minor no-width no-wrap">@Html.Raw(issueDto.Revised)</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
}