@model HistoryRunInfo

@{
    string arrow = "right";
    string contentstate = "collapsed";
    bool autoOpen = false;
}

@if(Model.HistorySelected.SelectedRun == Model.Run.Entity.Id)
{
    arrow = "down";
    contentstate = "expanded";
    autoOpen = true;
}


<div class='section-header run clearfix' id="run-history" style="padding-left: 10px;margin-top:0px !important;">
    <div>
        <div id='section-steps'>
            @{
                string state = ResourceKeys.Pending;
                if (Model.Cases.SelectMany(c => c.RunSteps).Any(s => s.HasPassed.HasValue && s.HasPassed == false))
                {
                    state = ResourceKeys.Failed;
                }
                else if (Model.Cases.SelectMany(c => c.RunSteps).All(s => s.HasPassed.HasValue && s.HasPassed.Value == true))
                {
                    state = ResourceKeys.Passed;
                }
            }

            <table class="width-100" style="margin-top:0 !important;">
                <tr class="no-hover">
                    <td class="no-width">
                        <span class='expander fonticon-arrow-@arrow'></span>    
                    </td>
                    <td class="no-wrap no-width">
                        <div class='@state.ToLower()'>@GetResource(state)</div>
                    </td>
                    <td>@Model.Run.BindingText @if (Model.IssuesRaised.Issues.Count() > 0) { <text><span style="color:#888;">@GetResource(ResourceKeys.ItemsRaised) (@Model.IssuesRaised.Issues.Count()</span>)</text>}</td>
                    <td class="no-width no-wrap">
                        <div class="touch-info">
                            <span class="box">                                                 
                                @Model.Run.Entity.Revised.ToString("dd-MMM-yyyy HH:mm") → @Model.Run.CreatedBy
                            </span>
                        </div>
                    </td>
                    <td class="no-width no-wrap"></td>
                    <td class="no-width pad-right-10">
                        
                    </td>
                </tr>
                <tr class="no-hover">
                    <td></td>
                    <td colspan="3"></td>
                    <td colspan="2"></td>
                </tr>
            </table>

        </div>
        @*<div class='heading-row clearfix'>
            <div class='summary'>@Model.Run.Entity.Summary</div>
            <div class="date">@Model.Run.Entity.Revised</div>
            <div class='status'><div class='pending'>Pending</div></div>
        </div>*@
    </div>
    
    <div class='section-content @contentstate' style="margin-top:0 !important;margin-bottom:16px;">
        
        @Html.Partial("~/views/testing/_ItemsRaised.cshtml", Model.IssuesRaised, new ViewDataDictionary
            {
                new KeyValuePair<string, object>("state", contentstate), 
                new KeyValuePair<string, object>("issueid", Model.HistorySelected.SelectedIssue)
            })

        @foreach (var Case in Model.Cases)
        {
            @Html.Partial("~/views/testing/_CaseDetail.cshtml", Case)
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        gemini_item.setContentHeight();
    });
</script>

@if(autoOpen)
{
    <script type="text/javascript">
        $("#section-widget-AC93C4F9-B512-4A3D-8B37-BC3D5F83429D h3").click();
    </script>
}