@model List<TestHistory>
<div class='section-header clearfix'>
<div class="clearfix">
<div id='section-history' class="left"><span class='expander fonticon-arrow-down'></span><h3>@GetResource(ResourceKeys.History) (@Model.Count)</h3></div>
<div class='toolbar actions right'>
<!--Html.Partial("_AddRunLink", Model) -->
</div>
</div>
<div class='divider'></div>
<div class='section-content expanded'>
@if (Model.Count > 0)
{
<table id="history-details" class="cs-template" ><tbody>
<tr>
<th>@GetResource(ResourceKeys.Date)</th>
<th>@GetResource(ResourceKeys.User)</th>
<th>@GetResource(ResourceKeys.Change)</th>
</tr>
@foreach (var x in Model)
{
<tr id='history-@x.Id' class="cs-no-hover cs-striped">
<td class='cs-date'>@x.Revised.ToString()</td>
<td class='cs-name'>@x.Fullname</td>
<td class='cs-text'>@x.History</td>
</tr>
}
</tbody></table>
}
</div></div>