@model TestPlansModel
@{
    Layout = "~/Views/Shared/_Master.Desktop.Project.cshtml";
    ViewBag.ViewType = "Plans";
}

<div id="cs-template">

<div id="test-tab-box" class="border-bottom">
<div class="left">
</div>
<div id="cs-tabs" class="clearfix"><ul class='tab-choice-links'>
<li class="selected">@Html.ActionLink(GetResource(ResourceKeys.Plans), "Plans", new RouteValueDictionary (new { GeminiContext.Project.Entity.Code, GeminiContext.Project.Entity.Id }))</li>
<li>@Html.ActionLink(GetResource(ResourceKeys.Cases), "Cases", new RouteValueDictionary(new { GeminiContext.Project.Entity.Code, GeminiContext.Project.Entity.Id }))</li>
<li>@Html.ActionLink(GetResource(ResourceKeys.Runs), "Runs", new RouteValueDictionary(new { GeminiContext.Project.Entity.Code, GeminiContext.Project.Entity.Id }))</li>
</ul></div>
</div>

<!-- actually retruning TestCaseFilter -- this is not right, but for now its visually OK --> 
<div id='filter' class='clearfix margin-bottom-15'>
    <form id='filter-form'>@{Html.RenderPartial("_GenericFilter", Model.Filter);}</form>
</div>

<div id='cs-sections'>
@Html.Partial("_TestAllPlans", Model.Plans)
</div>
</div>

@section DocumentReady
{
    testing.initialize();
    //gemini_filter.init('@GeminiContext.Project.Entity.Code', @GeminiContext.Project.Entity.Id, @((int)ProjectTemplatePageType.Testing));
}