<li class="attribute" >
    <ul>
        <li class='attribute-header widget-header' data-gemini-control-id='@Model.ControlId' data-gemini-app-id='@Model.AppId'>
            <div class='title'>@Model.Title</div>
            <div class='fonticon-arrow-right action'></div>
        </li>
        <li class='widget-item attribute-value' >
            <span id='@Model.AppId-@Model.ControlId'>@Model.Value</span>
        </li>
    </ul>
</li>