@model TimesModel

<div id="release-time-estimated" style="display:inline-block;"><span>@GetResource(ResourceKeys.Estimated)  </span>@Model.Estimated</div>
<div id="release-time-logged" style="display:inline-block;"><span>@GetResource(ResourceKeys.Logged) </span>@Model.Logged</div>
<div id="release-time-remaining" style="display:inline-block;"><span>@GetResource(ResourceKeys.Remaining)  </span>@Model.Remaining</div>


