@model SystemAppNavModel

<p id="tab-help-message"><strong>&#187;</strong>&nbsp;Define your own custom <strong>Workspace</strong> cards for all users. Set default <strong>Workspace View</strong> for users and <strong>take ownership</strong> of users' workspaces.</p>

<div class="accordion admin-datatable-holder" id="cs-adhoc-page">
    <h2>Custom Cards</h2>
    <div class="admin-datatable-holder">
        <table id="table-admin-appnav" class="basic">
            <thead>
                <tr>
                    <th data-field="Key" data-required='true'>Line 1</th>
                    <th data-field="Title" data-required='true'>Line 2</th>
                    <th data-field="Url" data-required='true'>Url</th>
                    <th data-field="Color" data-edit-type="color" class="centered">Color</th>
                    <th data-field="VisibleToAnonymousUser" data-edit-type='checkbox' class="centered">For Anonymous Users</th>
                    <th data-field="VisibleToAuthenticatedUser" data-edit-type='checkbox' class="centered">For Authenticated Users</th>
                    <th data-field="NewWindow" data-edit-type='checkbox' class="centered">New Window</th>
                    <th class="centered"></th>
                </tr>
            </thead>
            <tbody>
                @foreach ( NavigationCard item in Model.SystemCards )
                {
                    <tr data-id="@item.Id">
                        <td>@item.Key</td>
                        <td>@item.Title</td>
                        <td>@item.Url</td>
                        <td class="centered">@item.Color</td>
                        <td class="centered">@item.VisibleToAnonymousUser.ToYesNo()</td>
                        <td class="centered">@item.VisibleToAuthenticatedUser.ToYesNo()</td>
                        <td class="centered">
                            @item.NewWindow.ToYesNo()
                        </td>
                        <td data-edit="false" class="centered actions"><span title="@GetResource(ResourceKeys.Delete)" class="cursor-pointer action-button-delete"></span></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <h2>Default Workspace</h2>
    <div>
        <form id="system-appnav-default-form" action="" method="post" autocomplete="off">
            <table class="data-entry-box">
                <tr>
                    <td>Workspace</td>
                    <td>@Html.DropDownList( "Workspace", Model.Workspaces, new { @class = "input-size9", required = "required" } )</td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <input id="system-appnav-default-save" type="button" value='@GetResource(ResourceKeys.Save)' class='button-primary' />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <h2>Workspace Ownership</h2>
    <div>
        <label for="UserId">From User:</label>
        @Html.DropDownList( "UserId", Model.AllUsers, new { @class = "input-size9" } )
        <div id="user-workspace-panel" class="admin-datatable-holder">

        </div>
    </div>
</div>





<br />
<br />


<br />

@*
    <h2>Default Landing Page</h2>
    <br/>

    <div id="cs-adhoc-page">
        <form id="system-appnav-form" action="" method="post" autocomplete="off">
            <table class="data-entry-box">
                <tr>
                    <td>Project</td>
                    <td>@Html.DropDownList("Project", Model.Projects, new { @class = "input-size9" })</td>
                </tr>
                <tr>
                    <td>Page</td>
                    <td>@Html.DropDownList("Page", Model.Pages, new { @class = "input-size9" })</td>
                </tr>
                <tr><td colspan="2"><div class="divider"></div></td></tr>

                <tr>
                    <td colspan="2" align="right">
                        <input id="system-appnav-landing" type="button" value='@GetResource(ResourceKeys.Save)' class='button-primary' />
                    </td>
                </tr>

            </table>
        </form>
    </div>
*@

<script type="text/javascript">
    $(document).ready(function () {
        gemini_admin.initDatatablesWithEdit("#table-admin-appnav", false, null, { "aoColumnDefs": [{ "bSortable": false, "aTargets": [3, 4, 5, 6] }] });

        gemini_ui.triggerChecked("#WelcomePage", "#Project, #Page", "#Project, #Page");

        $("#table-admin-appnav_wrapper").prepend("<div id='add-button-container'><input id='system-options-add' type='button' value='Add' class='button-primary'></div>");

        $("#system-options-add").click(function () {
            gemini_popup.centerPopup("configure/System/AppNav", "Add", { id: 0 }, null, null, null, null, null, null, true);
        });

        // Save Landing Page
        $("#system-appnav-landing").click(function (e) {
            gemini_commons.stopClick(e);

            try {
                if (!$("#system-appnav-form").valid()) { return; }

                var formData = $("#system-appnav-form").serialize();
                gemini_ui.startBusy('#system-appnav-form #system-appnav-save');
                gemini_ajax.postCall("configure/System/AppNav", "savedata",
                    function (response) {
                        gemini_admin.saveFinished("#system-appnav-save");
                        gemini_ui.stopBusy('#system-appnav-form #system-appnav-save');
                    }, function () { gemini_ui.stopBusy('#system-appnav-form #system-appnav-save'); }, formData);
            }
            catch (e) {
            }
        });


        //Set default workspace
        $("#system-appnav-default-save").click(function (e) {

            gemini_commons.stopClick(e);
            try {

                if ($("#Workspace").val() >= 0) {

                    var formData = $("#system-appnav-default-form").serialize() + "&mode=defaultws";
                    gemini_ui.startBusy('#system-appnav-default-form #system-appnav-default-save');

                    gemini_ajax.postCall("configure/System/AppNav", "savedata",
                        function (response) {
                            //gemini_admin.saveFinished("#system-appnav-default-save");
                            gemini_ui.stopBusy('#system-appnav-default-form #system-appnav-default-save');
                        }, function () {
                            gemini_ui.stopBusy('#system-appnav-default-form #system-appnav-default-save');
                        }, formData, null, true);
                }
            }
            catch (e) {
            }
        });

        // Delete
        $("#table-admin-appnav_wrapper").off('click', ".action-button-delete").on('click', ".action-button-delete", function (e) {
            var item = $(this);
            var id = item.closest("tr").data("id");

            gemini_popup.modalConfirm("Delete Card?", null, function () {
                gemini_ui.startBusy('#modal-confirm #modal-button-yes');
                gemini_ajax.call("configure/System/AppNav", "Delete", function (response) {
                    if (response.Success) {
                        gemini_admin.removeRow(item);
                        gemini_ui.stopBusy('#modal-confirm #modal-button-yes');
                    }
                }, function () { gemini_ui.stopBusy('#modal-confirm #modal-button-yes'); }, { id: id }, null, true);
            });
        });

        $("#UserId").change(function () {
            var userid = $(this).val();
            gemini_ajax.jsonCall('configure/System/AppNav',
                "add",
                function (response) {
                    $("#user-workspace-panel").html(response.Result.Html);
                },
                null,
                { mode: 'userworkspace', userid: userid },
                null,
                true);
        });

        gemini_ui.csAccordion('.accordion');
    });
</script>
