@model HtmlEditorFieldModel
<div class='wysiwyg-container'>
<textarea data-input-type="html-editor" title="@Model.Tooltip" id="@Model.Id" data-original="@Model.Value"  name="@Model.Id" class="inline-editing wysiwyg-editor cs-wysiwyg @Model.Classes @(Model.Required ? "required" : "")" style='height:325px;'>
@Model.Value
</textarea>
</div>