@model ListBoxFieldModel

@{
    bool wasOptionGroup = false;
}
<input type="hidden" name="@Model.Id" value="0" />
<select title="@Model.Tooltip" data-input-type="list-box" id="@Model.Id" data-project-id="@Model.ProjectId" size="@Model.Rows" name="@Model.Id" data-original="@Model.SelectValues.ToDelimited("|")" 
   data-customfield-trigger='@Model.CustomFieldTriggerValues' data-trigger='@Model.TriggerValues' class="inline-editing input-size6  @Model.Classes @(Model.Required ? "required" : "")" @if(Model.Multiselect) { <text>multiple="multiple"</text> } >
    @foreach (var item in Model.Values)
    {
        if (item.IsOptionGroup)
        {
            if(wasOptionGroup) { @Html.Raw("</optgroup>") }
            <text><optgroup label="@item.ItemText"></text>
            wasOptionGroup = true;           
        }
        else
        {
            <option @if(Model.SelectValues.Contains(item.ItemId)) { <text>selected="selected"</text> } value="@item.ItemId">@item.ItemText</option>
        }
    }
    @if(wasOptionGroup) { @Html.Raw("</optgroup>") }
</select>
