@model SLAFieldModel

@{
    bool wasOptionGroup = false;
    List<Pair<string, string>> data = new List<Pair<string, string>>();
    data.Add(new Pair<string, string>("0", "kept as is"));
    data.Add(new Pair<string, string>("1", "restarted"));
    var listData = new SelectList(data, "Key", "Value");
}

<select title="@Model.Tooltip" id="@Model.Id" data-project-id="@Model.ProjectId" data-input-type="combobox" name="@Model.Id" data-original="@Model.Value" data-trigger='@Model.TriggerValues' 
    data-customfield-trigger='@Model.CustomFieldTriggerValues' class="inline-editing input-tall input-size6 @Model.Classes @(Model.Required ? "required" : "")" >
    @foreach (var item in Model.Values)
    {
        if (item.IsOptionGroup)
        {
            if (wasOptionGroup)
            { @Html.Raw("</optgroup>") }
            <text><optgroup label="@item.ItemText"></text>
            wasOptionGroup = true;
        }
        else
        {
            <option @if (Model.Value == item.ItemId)
                    { <text>selected="selected"</text> } @if(item.Disabled) { <text>disabled="disabled"</text> } value="@item.ItemId">@item.ItemText</option>
        }
    }
    @if (wasOptionGroup)
    { @Html.Raw("</optgroup>") }
</select>
<span>&nbsp;&nbsp;clock will be&nbsp;&nbsp;&nbsp;</span>@Html.DropDownList("switchsla-clock", listData, new { @class = "input-size3" })