@model Countersoft.Gemini.Models.UserProfileModel

<table class="data-entry-box margin-zero-auto">
    @if (!GeminiContext.Config.IsWindowsAuthentication)
    {
        <tr>
            <td>@GetResource(ResourceKeys.CurrentPassword)</td>
            <td><input type="password" id="current-password" name="current-password" class="input-size8" /></td>
        </tr>

        <tr>
            <td>@GetResource(ResourceKeys.NewPassword)</td>
            <td>
                <input type="password" id="the-password" name="the-password" class="input-size8"
                       data-pwd-enforce="@GeminiApp.Config.EnforcePasswordPolicy.ToJSBool()" data-pwd-length="@GeminiApp.Config.MinimumLetters"
                       data-pwd-upper="@GeminiApp.Config.UppercaseRequired.ToJSBool()" data-pwd-lower="@GeminiApp.Config.LowercaseRequired.ToJSBool()"
                       data-pwd-symbol="@GeminiApp.Config.SymbolRequired.ToJSBool()" data-pwd-number="@GeminiApp.Config.NumberRequired.ToJSBool()" />
                <div class="password-meter" style="width:355px">
                    <div class="password-meter-bg">
                        <div class="password-meter-bar"></div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>@GetResource(ResourceKeys.ConfirmNewPassword)</td>
            <td><input type="password" id="confirm-password" name="confirm-password" class="input-size8" /> </td>
        </tr>
        <tr id="password-rules-the-password" style="display:none">
            <td></td>
            <td>
                @Html.Raw(Model.PasswordRules)
            </td>
        </tr>
    }

    <tr>
        <td>@GetResource(ResourceKeys.ApiKey)</td>
        <td>
            <input type="text" id="ApiKey" name="ApiKey" style="width:174px;" disabled="disabled" value="@Model.User.Entity.ApiKey" />
            <input type="button" id="api-key" class="button-secondary button-small" value="@GetResource(ResourceKeys.Change)" />
        </td>
    </tr>

    @if (Model.RequireMFA)
    {
        <tr>
            <td>@GetResource(ResourceKeys.RegisterMFA)</td>
            <td>
                <input type="hidden" name="customerSecretKey" value="@Model.customerSecretKey" />
                <img src="@Model.QrCodeImageData" />
            </td>
        </tr>
        <tr>
            <td>@GetResource(ResourceKeys.MFAValidationCode)</td>
            <td>
                <input type="text" name="validationKey" style="width:174px;" />
            </td>
        </tr>
    }

    <tr class="error hide">
        <td></td>
        <td style="color:red;"></td>
    </tr>

</table>
