@model Countersoft.Gemini.Models.Admin.PeopleGlobalGroupEditModel
<div id="GlobalGroupContainer" style="height: 400px;">
    
    @{
        if(Model.Group.Id == 0)
        {
        @: <form id="GroupForm">
        }
    }

    @Html.HiddenFor(g => g.Group.Id)
    <table id="regular-credentials" class="admin-data-entry" cellpadding="0" cellspacing="0">
        <tr>
            <td >Group Name</td>
            <td>
                <input type="text" id="GroupName" name="GroupName" class="input-size9 required" value="@Model.Group.Name"/>
            </td>
        </tr>
        <tr>
            <td >Description</td>
            <td>
                <textarea id="GroupDescription" name="GroupDescription" rows="3" class="input-size9">@Model.Group.Description</textarea>
            </td>
        </tr>
        <tr>
            <td>Members</td>
            <td>
                @Html.ListBox("Members", Model.MemberList, new { @class = "input-size9"})
            </td>
        </tr>
        @{
            if (GeminiApp.Config.SyncWithActiveDirectory)
            {
                <tr>
                    <td>Associate Active Directory Groups</td>
                    <td>
                        @Html.ListBox("ADGroups", Model.ADGroupList, new { @class = "input-size9"})
                    </td>
                </tr>
            }
        }
    </table>
    @{
        if(Model.Group.Id == 0)
        {
            @: </form>
        }
    }

</div>
<script type="text/javascript">

    gemini_ui.chosen("#Members", null);
    @if (GeminiApp.Config.SyncWithActiveDirectory) {
        @: gemini_ui.chosen("#ADGroups", null);    
    }
    
    $("#popup-button-yes").click(function (e) {


        if ($("#GroupForm").valid()) {

            gemini_ajax.postCall("configure/People/GlobalGroups", "SaveData", function (response) {
                gemini_popup.toast("Saved");
                gemini_popup.popupClose(e);
                gemini_admin.getPage();
            }, null, $("#GroupForm").serialize(), null, true);

        }
        else {
            $('.error:not(label)', '#cs-popup-content').first().focus();
        }

    });

    $("#popup-button-no").click(function (e) { gemini_popup.popupClose(e); });

</script>
