@model PeoplePermissionsEditorModel

<div id="edit-permission" style="height: 600px; min-width: 800px;">
    <div id="edit-permissions-container">
        <form id="add-permission-form" name="add-permission-form">
             @Html.Hidden("PermissionSetId", Model.PermissionSet.Entity.Id)
            <table id="table-edit-permission" class="admin-data-entry" cellpadding="0" cellspacing="0">
                <tr>
                    <td valign="top" class="field-name bold">Associated Projects</td>
                    <td>@Html.ListBox("AssignedProjects", Model.Projects, new { @class = "input-size9" })</td>
                </tr>
                @foreach(var role in Model.Roles)
                {
                    <tr>
                        <td class="@role.Role">@role.Label</td>
                        <td class="@role.Role">@Html.ListBox( string.Concat(role.Role, "_Global"), role.SelectedGlobalGroups, new {@class = "input-size9"})</td>
                    </tr>
                }
            </table>
        </form>
    </div>
</div>

<script type="text/javascript">

    $("#add-permission-form").validate();
    gemini_ui.chosen("select", null, true);

    $("#edit-permissions-container").jScrollPane({ autoReinitialise: true, autoReinitialiseDelay: 250 });

    $("#popup-button-yes").click(function (e) {

        if ($("#add-permission-form").valid())
        {
            gemini_ui.startBusy('#colorbox #cs-popup-center-buttons .button-primary');
            gemini_ajax.postCall("configure/People/Permissions", "SaveData", function () {
                gemini_popup.popupClose(e);
                gemini_admin.getPage();
                gemini_ui.stopBusy('#colorbox #cs-popup-center-buttons .button-primary');
            }, function () { gemini_ui.stopBusy('#colorbox #cs-popup-center-buttons .button-primary'); }, $("#add-permission-form").serialize(), null, true);
        }
    });

    $("#popup-button-no").click(function (e) { gemini_popup.popupClose(e); });

</script>
