@model PeopleProjectGroupEditModel

<div id="ProjectGroupContainer" style="width:655px; height:200px; overflow:auto">
    <form id="GroupForm">
        <input id="id" name="id" type="hidden" value="@Model.Group.Id" />
        <table id="regular-credentials" class="admin-data-entry" cellpadding="0" cellspacing="0">
            <tr>
                <td>Group Name</td>
                <td><input type="text" id="GroupName" name="GroupName" class="input-size9 required" value="@Model.Group.Name"/></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><textarea id="GroupDescription" name="GroupDescription" rows="3" class="input-size9">@Model.Group.Description</textarea></td>
            </tr>
            @{
                if (Model.Group.Id > 0)
                {
                    <tr>
                        <td>Can Share/Chat With</td>
                        <td>@Html.ListBox("Interaction", Model.Interactions, new { @class = "input-size9" })</td>
                    </tr>
                    if(GeminiApp.Config.SyncWithActiveDirectory)
                     {
                         <tr>
                             <td>Active Directory Groups</td>
                             <td>@Html.ListBox("ADGroups", Model.ADGroupList, new {@class = "input-size9 " + @Model.Classes})</td>
                         </tr>
                     }
                }
            }
        </table>
    </form>
</div>

<script type="text/javascript">
    gemini_ui.chosen("#Interaction", null, true);
    gemini_ui.chosen("#ADGroups", null, true);
    gemini_ui.ajaxChosen('select.no-chosen.auto-complete-chosen', null, false, 'project/0' + '/item/get/customfield');

    $("#GroupForm").submit(function () {
        $("#popup-button-yes").click();
        return false;
    });

    $("#popup-button-yes").unbind('click').click(function (e) {

        if ($("#GroupForm").valid()) {
            gemini_ui.startBusy('#cs-popup-center-zone #cs-popup-center-buttons .button-primary');
            gemini_ajax.postCall("configure/People/ProjectGroups", "SaveData", function (response) {       
   
                gemini_ui.stopBusy('#cs-popup-center-zone #cs-popup-center-buttons .button-primary');

                if (response.Result && !response.Result.Success)
                    gemini_popup.toast(response.Result.Message, true);
                else
                {
                    gemini_popup.popupClose(e);
                    gemini_admin.getPage();
                    window.location.reload();
                }

            }, function () { gemini_ui.stopBusy('#colorbox #cs-popup-center-buttons .button-primary'); }, $("#GroupForm").serialize(), null, true);
        }
        else {
            $('.error:not(label)', '#cs-popup-content').first().focus();
        }
    });

    $("#popup-button-no").unbind('click').click(function (e) { gemini_popup.popupClose(e); });

</script>
