@model PeopleUsersEditModel

<div id="GlobalGroupContainer" style="height:500px;">
    <form id="regular-form">
    @Html.HiddenFor(g => g.User.Entity.Id)
    <table id="user-editor" class="width-100 admin-data-entry" cellpadding="0" cellspacing="0">
        <tr>
            <td class="field-name">Firstname</td>
            <td>
                <input type="text" id="Firstname" name="Firstname" class="input-field required input-size9" value="@Model.User.Entity.Firstname"/>
            </td>
        </tr>
        <tr>
            <td class="field-name">Surname</td>
            <td>
                <input type="text" id="Surname" name="Surname" class="input-field required input-size9" value="@Model.User.Entity.Surname" />
            </td>
        </tr>
        <tr>
            <td class="field-name">Email</td>
            <td>
                <input type="text" id="Email" name="Email" class="input-field required email input-size9" value="@Model.User.Entity.Email" />
            </td>
        </tr>
        <tr>
            <td class="field-name">Username</td>
            <td>
                <input type="text" id="Username" name="Username" class="input-field required input-size9" value="@Model.User.Entity.Username" autocomplete="off" />
            </td>
        </tr>
        @if (!GeminiContext.Config.IsWindowsAuthentication)                                                                                                                               
        { 
        <tr>
            <td>@GetResource(ResourceKeys.Password)</td>
            <td>
                <input type="password" id="regular-password" name="regular-password" class="input-field input-size9" />
                @*<div class="password-meter">
                    <div class="password-meter-bg">
                        <div class="password-meter-bar">
                        </div>
                    </div>
                </div>*@
            </td>
        </tr>
        <tr>
            <td>@GetResource(ResourceKeys.ConfirmPassword)
            </td>
            <td>
                <input type="password" id="confirmpassword" name="confirmpassword" class="input-field input-size9" />
            </td>
        </tr>
        }
        <tr>
            <td>Group Membership</td>
            <td>
                @foreach(var group in Model.User.ProjectGroups)
                {
                    <text><p>@group.Name</p></text>
                }
            </td>
        </tr>
        <tr>
            <td>Organization Membership</td>
            <td>
                @foreach (var organization in Model.User.Organizations)
                {
                    <text><p>@organization.Name</p></text>
                }
            </td>
        </tr>
    </table>
    </form>
</div>
<script type="text/javascript">


    $("#regular-form").validate({ rules: { confirmpassword: { required: false, equalTo: "#regular-password" } } });
    gemini_ui.chosen("#Groups", null, true);

    $("#popup-button-yes").click(function (e) {


        if ($("#regular-form").valid()) {
            gemini_ui.startBusy('#cs-popup-center-zone #cs-popup-center-buttons .button-primary');
            gemini_ajax.postCall("configure/People/Users", "SaveData", function (response) {
                if(response.Result=='DUPE') {
                    gemini_ui.stopBusy('#colorbox #cs-popup-center-buttons .button-primary');
                    $('#Username').addClass('error');
                    $('#Username').focus();
                    gemini_popup.toast("Username already exists", true);
                    return;
                }
                gemini_popup.toast("Saved");
                var tr = $("tr[data-id=@(Model.User.Entity.Id)]");
                if (tr) {
                    tr.find("td:eq(0)").html($("#Firstname").val());
                    tr.find("td:eq(1)").html($("#Surname").val());
                    tr.find("td:eq(2)").html($("#Username").val());
                    tr.find("td:eq(3)").html($("#Email").val());
                }
                gemini_popup.popupClose(e);
                gemini_admin.getSubTab("Users");
                gemini_ui.stopBusy('#cs-popup-center-zone #cs-popup-center-buttons .button-primary');
            }, function () { gemini_ui.stopBusy('#colorbox #cs-popup-center-buttons .button-primary'); }, $("#regular-form").serialize(), null, true);

        }
        else {
            $('.error:not(label)', '#cs-popup-content').first().focus();
        }

    });


    $("#popup-button-no").click(function (e) { gemini_popup.popupClose(e); });

</script>
