@{
    Layout = "_Master.Base.cshtml";
}

@section Head
{
    <title>@ViewBag.Title Mobile</title>
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link rel="stylesheet" href="@AssetsPath/styles/bootstrap.css" media="screen, projection" />
        <link rel="stylesheet" href="@AssetsPath/styles/global.css" media="screen, projection" />
        <link rel="stylesheet" href="@AssetsPath/styles/layout.css" media="screen, projection" />
        <link rel="stylesheet" href="@AssetsPath/styles/default/theme.css" media="screen, projection" />
        <link rel="stylesheet" href="@AssetsPath/styles/default/desktop/desktop.css" media="screen, projection" />
        <link rel="stylesheet" href="@AssetsPath/styles/default/desktop/login.css" media="screen, projection" />
        <!--        
        <link rel="stylesheet" href="@AssetsPath/@ThemeCss" type="text/css" media="screen, projection" />
        -->
    }
    else
    {
    <link rel="stylesheet" href="@AssetsPath/@ThemeCssZipped" type="text/css" media="screen, projection" />
    }
    
    <link rel="shortcut icon" href='@Url.Content("~/favicon.ico")' type="image/x-icon" />
}

<header>
    @RenderSection("Header", false) 
    @RenderSection("Playlist", false)
</header>

<!-- footer - only the background colour can be themed encase higher -->
<footer>
    @{Html.RenderPartial("Footer");}
</footer>

<section id="page-contents" class='container-fluid'>
    
    <section class="row-fluid">
    
        <!-- lhs column -->
        <section id="panel" class='left span3 pinned'>
                
            <section class="topbar fluid-row">
                @RenderSection("HeaderPane", false)
            </section>
            <section>
                @RenderSection("Pane", true)
            </section>
            <section id='pane-marketing'>
            </section>

        </section>

        <!-- rhs workarea -->
        <section id="page" class='left span9'>
            <section class="topbar fluid-row">
                @RenderSection("HeaderContent", false)
            </section>
            <section id='content'>
                @RenderBody()
            </section>
        </section>
    </section>

</section>

@section DocumentReady
{
    gemini_commons.resize();
    
    @RenderSection("DocumentReady", false)
}

@section JavaScript
{
    @RenderSection("JavaScript", false)
}

