<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="@AssetsPath/styles/fonts.css" type="text/css" media="screen, projection" />
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        @Countersoft.Gemini.Infrastructure.Helpers.MiniProfilerHelper.RenderIncludes()
    }
    @RenderSection("Head")
</head>
<body class="bootstrap theme">
@if (HttpContext.Current.IsDebuggingEnabled)
{
    <script type="text/javascript" src="@AssetsPath/all.min.js?v1"></script>     
}
else
{
    <script type="text/javascript" src="@AssetsPath/all.min.gz.js"></script>
}

<script type="text/javascript">window.jQuery || document.write('<script src="@Url.Content("~/assets/all.min.js?v=1")"><\/script>')</script>
    @RenderBody()
<script type="text/javascript">
    var csVars = {
        Url: "@Countersoft.Foundation.Utility.Helpers.HttpHelper.GetWebsiteUrl()"
    };
</script>

<script type="text/javascript">
    $(document).ready(function () { 
        @RenderSection("DocumentReady", false)
    });

    @RenderSection("JavaScript", false)
</script>
</body>
</html>
