@model ScreenFieldOptionsModel

<span class="fonticon-drag-handle dragHandle"></span>
<input type="checkbox" id="@ViewData["Stage"]-@Model.Field.Id" data-type="@Model.Field.Type" data-id="@Model.Field.Id" data-required="@Model.Field.Required.ToJSBool()" data-project-groups='@Model.Field.ProjectGroups.ToDelimited("|")' name="create" @if(Model.Checked) {<text>checked="checked"</text>} /><div id="attribute-options-trigger"><span class="fonticon-person"></span><span class="fonticon-arrow-down"></span></div>
<label for="@ViewData["Stage"]-@Model.Field.Id" @if(Model.Checked) { <text>class="screen-field-selected"</text> }>@Model.Field.Label.ToMaxMore(30) @if(Model.Field.Type== ScreenField.FieldType.CustomField ) { <span class="sidenote">(Custom)</span>} else if(Model.Field.Type== ScreenField.FieldType.App ||  Model.Field.Type== ScreenField.FieldType.App) { <span class="sidenote">(@Model.AppName)</span> }</label>