@model ScreenFieldOptionsModel

<span class="fonticon-drag-handle dragHandle valign-top"></span>
<input type="checkbox" class="fancy" id="@ViewData["Stage"]-@Model.Field.Id" data-type="@Model.Field.Type" data-id="@Model.Field.Id" data-required="@Model.Field.Required.ToJSBool()" data-project-groups='@Model.Field.ProjectGroups.ToDelimited("|")' name="create" @if(Model.Checked) {<text>checked="checked"</text>} /><div id="attribute-options-trigger" class="margin-left-5 valign-top"><span class="fonticon-person"></span><span class="fonticon-arrow-down"></span></div>
<label class="valign-top @if(Model.Checked) { <text>screen-field-selected</text> }" for="@ViewData["Stage"]-@Model.Field.Id" >@Model.Field.Label.ToMaxMore(30)</label>@if(Model.Field.Type== ScreenField.FieldType.CustomField ) { <span class="sidenote">(Custom)</span>} else if(Model.Field.Type== ScreenField.FieldType.App ||  Model.Field.Type== ScreenField.FieldType.App) { <span class="sidenote">(@Model.AppName)</span> }