@model ProjectDocumentDto

<span class="action-button-upload cursor-pointer refresh-action" title="@GetResource(ResourceKeys.Upload)" data-id="@Model.Entity.Id"></span>
<span class="action-button-edit cursor-pointer description-action" title="@GetResource(ResourceKeys.Edit)" data-id="@Model.Entity.Id"></span>
<span class="action-button-delete cursor-pointer delete-action" title="@GetResource(ResourceKeys.Delete)" data-id="@Model.Entity.Id"></span>