@model ProjectSettingsModel

<div id="project-administration" style="width:1000px;height:700px;overflow:auto;">
    <div class="right margin-right-20 margin-top-10">@Html.DropDownListFor(m => m.ProjectId, new SelectList(Model.Projects, "Entity.Id", "Entity.Name", Model.ProjectId), new { @class = "input-size6" })</div>
    <div class="tabs-container">
        <div class="tabs left">
            @if(Model.CanManageComponents){<span data-tab="components" class="tab normal">@GetResource(ResourceKeys.Components)</span>}
            @if(Model.CanManageVersions){<span class="breaker">&nbsp;</span><span data-tab="versions" class="tab normal">@GetResource(ResourceKeys.Versions)</span>}
            @if(Model.CanManageDefaults){<span class="breaker">&nbsp;</span><span data-tab="defaults" class="tab normal">@GetResource(ResourceKeys.Defaults)</span>}
            @if (Model.CanManageDefaults) {<span class="breaker">&nbsp;</span><span data-tab="templatedcontent" class="tab normal">@GetResource(ResourceKeys.TemplatedContent)</span>}
            @if(Model.CanManageDefaults && Model.HasCustomFieldDataPerProject)
            {
                <span class="breaker">&nbsp;</span>
                <span data-tab="cflookup" class="tab normal">@GetResource(ResourceKeys.CustomLookupData)</span>
            }
        </div>
    </div>

    <div class="clearfix margin-bottom-20"></div>

    <div id="setting-zone">
        
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function() {
        gemini_projects.initSettings(@Model.ProjectId);
    });
</script>