@model ProjectSettingsModel

@{
    Layout = "~/Views/Shared/_Master.Desktop.Project.cshtml";
}
@section HeaderContent
{
     @{Html.RenderPartial("ContentHeader");}
}

<div id="project-administration">

    <div class="cs-pills left">
        @if(Model.CanManageComponents) {<span data-tab="components" class="cs-pill cs-pill-active">@GetResource(ResourceKeys.Components)</span>}
        @if(Model.CanManageVersions) {<span data-tab="versions" class="cs-pill cs-pill-inactive">@GetResource(ResourceKeys.Versions)</span>}
        @if(Model.CanManageDefaults) {<span data-tab="defaults" class="cs-pill cs-pill-inactive">@GetResource(ResourceKeys.Defaults)</span>}
        @if(Model.CanManageDefaults && Model.HasCustomFieldDataPerProject)
        {
            <span data-tab="cflookup" class="cs-pill cs-pill-inactive">@GetResource(ResourceKeys.CustomLookupData)</span>
        }
    </div>

    <div class="clearfix margin-bottom-20"></div>

    <div id="setting-zone">
        
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function() {
        gemini_projects.initSettings(@Model.ProjectId);
    });
</script>