@model ProjectWizardModel


    <div id="new-project-wizard">
        <div class="popup-header">
            <div class="header">
                <div class="title">@(GetResource(ResourceKeys.NewProject))</div>
                <div class="text">@(GetResource(ResourceKeys.NewProjectCaption))</div>
            </div>

            <div class="content">
                <div class="templates left">
                    <ul>
                        @foreach (var template in Model.Templates)
                        {
                            <li data-id="@template.Id" data-title="@template.Name" data-description="@template.Description" data-component="@template.Component" data-item="@template.Item" data-version="@template.Version" data-status="@template.Status" data-type="@template.Type" data-resource="@template.Resource">@template.TemplateKey</li>
                        }
                    </ul>
                </div>
                <div class="left">
                    <div>
                        <div id="template-details">
                            <div class="title"></div>
                            <div class="description"></div>
                        </div>
                        <ul id="template-cloud" class="clearfix">
                            <li id="cloud-component"></li>
                            <li id="cloud-item"></li>
                            <li id="cloud-version"></li>
                            <li id="cloud-resource"></li>
                            <li id="cloud-status"></li>
                            <li id="cloud-type"></li>
                        </ul>
                    </div>
                    <form id="new-project-form" method="post" action="@(GeminiContext.ContainerUrl)wizard/save" class="margin-top-20">
                        <input type="hidden" name="id" id="id" value="" />
                        <input type="hidden" name="projectid" id="projectid" value="@Model.ProjectId" />
                        <input type="text" class="input-size11 required margin-bottom-20" name="code" id="code" value="" maxlength="10" placeholder="@GetResource(ResourceKeys.ProjectCode)" /><br />
                        <input type="text" class="input-size11 required margin-bottom-20" name="name" id="name" value="" placeholder="@GetResource(ResourceKeys.Name)" /><br />
                        <textarea id="description" name="description" rows="8" class="input-size11" style="" placeholder="@GetResource(ResourceKeys.Description)"></textarea>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            gemini_add.initNewProjectWizard();
        });
    </script>
