@model Countersoft.Gemini.Models.Admin.TemplatesSeverityModel

@{Html.RenderPartial("~/Views/Admin/Menu/Templates/_Template.cshtml", Model.Templates);}

<p id="tab-help-message"><strong>&#187;</strong>&nbsp;Define <strong>Severity</strong> values that projects based on this template can have.</p>

<div class="admin-datatable-holder">
    <table id="table-admin-severity" class="basic">
        <thead>
            <tr>
                <th></th>
                <th data-field="Image" data-required='true'></th>                
                <th data-field="Label" data-required='true'>Severity</th>                
                <th data-field="Color" data-edit-type='color'>Color</th>                
                <th></th>
            </tr>
        </thead>        
        <tbody>
            @foreach (IssueSeverityDto item in Model.Severity)
            {
                <tr data-id="@item.Entity.Id" id="@item.Entity.Id">
                    <td data-edit="false" class="no-width"><span class='dragHandle fonticon-drag-handle'></span></td>
                    <td data-edit="false" class="no-width"><img src="@item.FullImagePath" class="valign-text-bottom"  alt="@item.Entity.Label" title="@item.Entity.Label"/></td>
                    <td>@item.Entity.Label</td>                
                    <td>@item.Entity.Color </td>    
                    <td data-edit="false" class="actions" >
                        <span class="action-button-edit cursor-pointer" title="@GetResource(ResourceKeys.Edit)" data-method="edit"></span>
                        <span class="action-button-delete cursor-pointer" title="@GetResource(ResourceKeys.Delete)" data-method="delete"></span>
                    </td>            
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function ()
    {
        gemini_admin.initDatatablesWithEdit("#table-admin-severity", true, null, { bPaginate: false, "aoColumnDefs": [{ "bSortable": false, "aTargets": [0, 1, 4] }] });
        gemini_admin.initTableDnD("#table-admin-severity");
        
        //Remove previous events, as the on events were firing multiple times - events getting rebound on ajax loads.
        $("#table-admin-severity").off('click', "span[data-method='delete']").on('click', "span[data-method='delete']", function (e)
        {
            var item = $(this);
            var id = item.closest("tr").data("id");
            gemini_popup.centerPopup("configure/Templates/Severity", "DeleteForm", { id: id }, null, "Delete", null, null, null, null, true);
        });

        $("#table-admin-severity").off('click', ".actions span[data-method='edit']").on('click', ".actions span[data-method='edit']", function ()
        {
            var item = $(this);
            var id = item.closest("tr").data("id");
            gemini_popup.centerPopup("configure/Templates/Severity", "Editor", { id: id }, null, null, null, null, null, null, true);
        });

        $("#table-admin-severity_wrapper").prepend("<div id='add-button-container'><input id='system-options-add' type='button' value='Add' class='button-primary'></div>");

        $("#system-options-add").click(function ()
        {
            gemini_popup.centerPopup("configure/Templates/Severity", "Add", null, null, null, null, null, null, null, true);
        });
    });
</script>